<div>
   <div data-dojo-type="tui.widget.expand.Expandable" data-dojo-props="transitionType: 'WipeInClose'">
      <div class="accommodation-details item open">
         <div class="item-toggle">
            <div class="fl">
               <h3>{% if staticData.Retrieve_And_Search_Your_accommodation %}{{staticData.Retrieve_And_Search_Your_accommodation}}{% endif %}</h3>
            </div>
            <div class="fr">
               <i></i>
            </div>
         </div>
         <div class="item-content">
            <div class="box-border-bottom">
               <div class="prod-details_">
                  {% if accommodationData.accomName %}
                  <h3 class="prod-name">{{accommodationData.accomName}}</h3>
                  {% endif %}
                  {% if accommodationData.tRating %}
                  <div class="hotel-trating">
                     <div class="rating rating-md {{accommodationData.tRating}}"></div>
                  </div>
                  {% endif %}
                  {% if accommodationData.resortName %}
                  <div class="hotel-location">
                     <span class="sub-text">{% if accommodationData.resortName %}in {{accommodationData.resortName}}{% endif %}{% if accommodationData.addressViewData.country %}, {{ accommodationData.addressViewData.country }}{% endif %}{% if accommodationData.destinationName %} - {{accommodationData.destinationName}}{% endif %}</span>
                  </div>
                  {% endif %}
                  <div class="hotel-address">
                     <ul>
                        {% if accommodationData.addressViewData.houseNumber %}
                        <li><span class="sub-text">{{accommodationData.addressViewData.houseNumber}}
                        {% if accommodationData.addressViewData.streetName %},{% endif %}&nbsp;</span></li>
                        {% endif %}
                        {% if accommodationData.addressViewData.streetName %}
                        <li><span class="sub-text">{{accommodationData.addressViewData.streetName}}
                         {% if accommodationData.addressViewData.city %},{% endif %}&nbsp;</span></li>
                        {% endif %}
                        {% if accommodationData.addressViewData.city %}
                        <li><span class="sub-text">{{accommodationData.addressViewData.city}}
                        {% if accommodationData.addressViewData.country %},{% endif %}&nbsp;</span></li>
                        {% endif %}
                        {% if accommodationData.addressViewData.country %}
                        <li><span class="sub-text">{{accommodationData.addressViewData.country}}
                        {% if accommodationData.addressViewData.postalcode %},{% endif %}&nbsp;</span></li>
                        {% endif %}
                        {% if accommodationData.addressViewData.postalcode %}
                        <li><span class="sub-text">{{accommodationData.addressViewData.postalcode}}&nbsp;</span></li>
                        {% endif %}
                     </ul>
                     <div class="clear"></div>
                  </div>
                  <div class="hotel-contact">
                     <ul>
                        {% if accommodationData.addressViewData.phone %}
                        <li><span class="phone">{{accommodationData.addressViewData.phone}}</span></li>
                        {% endif %}
                        {% if accommodationData.addressViewData.email %}
                        <li><span class="email">{{accommodationData.addressViewData.email}}</span></li>
                        {% endif %}
                     </ul>
                  </div>
                  <div class="hotel-checkin">
                     <ul>
                        <li><span class="checkin-head">{% if staticData.Retrieve_And_Search_Check_In %}{{staticData.Retrieve_And_Search_Check_In }}{% endif %} </span><span class="sub-text">{% if accommodationData.accommStartDate %}{{accommodationData.accommStartDate}}{% endif %}</span></li>
                        <li><span class="checkin-head">{% if staticData.Retrieve_And_Search_Check_Out %}{{staticData.Retrieve_And_Search_Check_Out }}{% endif %} </span><span class="sub-text">{% if accommodationData.accommEndDate %}{{accommodationData.accommEndDate}}{% endif %}</span></li>
                        <li><span class="checkin-head">{% if staticData.Retrieve_And_Search_Duration %}{{staticData.Retrieve_And_Search_Duration }}{% endif %}</span><span class="sub-text">{% if accommodationData.duration %}{{accommodationData.duration}} nights{% endif %}</span></li>
                     </ul>
                  </div>
                  {% if accommodationData.boardBasisViewData.boardBasisName %}
                  <div class="board">
                     <span class="title">{% if staticData.Retrieve_And_Search_Board_Basis %}{{staticData.Retrieve_And_Search_Board_Basis}}{% endif %}</span>
                     <span class="inclusive">
                     <span class="sub-text">{{accommodationData.boardBasisViewData.boardBasisName}}</span>
                     <span class="ac-ques-tooltip-link" data-dojo-type="tui.widget.popup.Tooltips" data-dojo-props="floatWhere:'position-top-center', text:'Your board basis'"></span>
                     </span>
                  </div>
                  <div>&nbsp;</div>
                  {% endif %}
               </div>
               <div class="clear"></div>
            </div>
            {% if accommodationData.roomViewData %}
            {% ifnotequal accommodationData.roomViewData.length 0 %}
            {% for room in accommodationData.roomViewData %}
            <div  data-dojo-type="tui.widget.expand.subExpandable"  data-dojo-props="transitionType: 'WipeInClose'">
               <div class="sub-item">
                  <div class="sub-item-toggle">
                     <div class="fl">
                        <h3>Room {{ forloop.counter }} {% if room.roomDesc %} - {{room.roomDesc}}{% endif %} </h3>
                     </div>
                     <i></i>
                  </div>
                  <div class="sub-item-content">
                     <div class="room-desc_">
                        <div class="feat">
                           {% if room.description %}
                           <p class="desc">{{room.description}}</p>
                           {% endif %}
                           {% if room.usps %}
                           <div class="avail-feat">
                              <ul>
                                 {% for feature in room.usps %}
                                 <li>{{feature }}</li>
                                 {% endfor %}
                              </ul>
                           </div>
                           {% endif %}
                           {% if room.occupancy %}
                           <p class="occupany">(Sleeps {% if room.occupancy.minOccupancy %}{{room.occupancy.minOccupancy}}{% endif %}{% if room.occupancy.maxOccupancy %}-{{room.occupancy.maxOccupancy}}{% endif %} people)</p>
                           {% endif %}
                        </div>
                        <div class="clear"></div>
                     </div>
                     {% if room.passengerViewDataList %}
                     {% ifnotequal room.passengerViewDataList.length 0 %}
                     <div class="room-summary">
                        <div class="item-col-title">{% if staticData.Retrieve_And_Search_Rooms %}{{staticData.Retrieve_And_Search_Rooms}}{% endif %}</div>
                        <div class="passengers">
                           {% for passenger in room.passengerViewDataList %}
                           <div>
                              <span>{% if passenger.title %}{{passenger.title}}{% endif %}&nbsp;{% if passenger.address.firstName %}{{passenger.address.firstName}}{% endif %}&nbsp;{% if passenger.address.lastName %}{{passenger.address.lastName}}{% endif %}&nbsp;</span>
                              <span class="sub-text">{% if passenger.type %}{{passenger.type}}{% endif %}{% if forloop.last %}{% else %},&nbsp;{% endif %}
                              </span>
                           </div>
                           {% endfor %}
                        </div>
                        <div class="clear"></div>
                     </div>
                     {% endifnotequal %}
                     {% endif %}
                  </div>
               </div>
            </div>
            {% endfor %}
            {% endifnotequal %}
            {% endif %}
            <div class="acc-extras">
               {% if showAccoExtrasHeading  %}
               {% if staticData.Retrieve_And_Search_Accom_Extras %}
               <h3>{{staticData.Retrieve_And_Search_Accom_Extras}}</h3>
               {% endif %}
               {% endif %}
			   
			  
			   
               {% ifnotequal extraFacilityCategories.length 0 %}
               {% for extraFacilityCategory in extraFacilityCategories %}
               {% ifequal extraFacilityCategory.extraFacilityGroup 'ACCOMMODATION' %}
			   {% for extraFacility in extraFacilityCategory.extraFacilityViewData %}
               <div class="ex-row">
                  {% if extraFacility.description %}<div class="sub-text">{{extraFacility.description}}{% if extraFacility.quantity %} &times; {{extraFacility.quantity}}{% endif %}</div>{% endif %}
			    </div>
			    {% endfor %}
               {% endifequal%}
               {% endfor %}
               {% endifnotequal%}
			   
			   
			   
               {% ifnotequal accommodationData.specialReqest.length 0 %}
               <div class="ex-row">
                  <div class="item-col-title-2">{% if staticData.Retrieve_And_Search_Special_Request %}{{staticData.Retrieve_And_Search_Special_Request}}{% endif %}</div>
                  <div class="details">
                     <span class="sub-text">
                     {% if accommodationData.specialReqest.length %}
                     {% for special in accommodationData.specialReqest %}
                     {% if special.memoDescription %}{{special.memoDescription}}					
                     {% if forloop.last %}{% else %},{% endif %}
                     {% endif %}
                     {% endfor %}
                     {% endif %}
                     </span>
                  </div>
               </div>
               {% endifnotequal %}
            </div>
         </div>
      </div>
   </div>
</div>