<div style="height: 100%; left: 0px; width: 100%; z-index: 4002; overflow-x: hidden; overflow-y: auto; position: fixed; outline: 0px none !important; display: block; top: 0px !important;" data-dojo-type="tui.widget.popup.cruise.BookInterimOverlay" >

  <div class="modal-window controller get-price-modal how-to-book"  style="background: none repeat scroll 0 0 rgba(0, 0, 0, 0);box-sizing: border-box;height: 100%;left: 0;padding: 0 8px;position: absolute;
    text-align: center;top: 0;width: 100%;display:block;">

    	<div class="wrapper cruise-wraper" style="margin-top:10px; margin-bottom:10px;max-width: 546px;background:#fff;display: inline-block;text-align: left;">

      <h2 class="underline" style="color: #333;">
         To Book Cruise and Stay Holiday....
      </h2>
      <span style="background:url('../images/cruise/tui-phone-icon.png') no-repeat scroll 0 5px;
      float:left;width: 41%;padding-left: 14%;height: 90px;">
      	<p style="margin-bottom:0px;padding-top: 10px;">Ring our call Center on </p>
      	<h3 style="font-size: 21.5px;font-weight:bold;">0800 072 0123</h3>
      </span>
      <span style="background:url('../images/cruise/tui-shop-icon.png') no-repeat scroll 0 5px;
      float:left;width: 31%;padding-left: 14%;height: 90px;">
		<p style="margin-bottom:0px;padding-top: 10px;">Visit Your local Thomson Shop</p>
		    <span class="link-box">
				<h2><a href="http://www.thomson.co.uk/shopfinder/shop-finder.html" target="_blank" class="view-all ensLinkTrack has-icon-left zero-margin">
					<i class="icon arrow-main product-arrow-sm product-arrow-left arrow-right-bg">;</i> Shop Finder</a>
				</h2>
			</span>
      </span>
      <div style="float:left;background:#F6FAFD;width: 100%;">
      <h3 style="background:#E9F2F9;padding:10px 0;text-align:center;width:100%;font-size:16.5px;text-transform:uppercase;margin-bottom: 18px;color: #333;">
      Your Cruise Details</h3>
      <span style="float:left;width:95.5%;padding-left: 4.5%;text-align: center;margin-bottom:24px;">
	      <ul style="float:left; width: 52.5%;">
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Itinerary:</span> Colours of the Cribbean</li>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Ship:</span> Thomson Dream</li>
	      </ul>
	      <ul>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Departing from:</span> Landon Gatwick</li>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Departure date:</span> 15 Sep 2015</li>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Whoe's going:</span> 2 Adults</li>
	      </ul>
      </span>
      </div>
       <div style="float:left;background:#F6FAFD;width: 100%;">
      <h3 style="background:#E9F2F9;padding:10px 0;text-align:center;width:100%;font-size:16.5px;text-transform:uppercase;margin-bottom: 18px;color: #333;">
      Your Cruise Details</h3>
      <span style="float:left;width:95.5%;padding-left: 4.5%;text-align: center;margin-bottom:24px;">
	      <ul style="float:left; width: 52.5%;">
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Itinerary:</span> Colours of the Cribbean</li>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Ship:</span> Thomson Dream</li>
	      </ul>
	      <ul>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Departing from:</span> Landon Gatwick</li>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Departure date:</span> 15 Sep 2015</li>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Whoe's going:</span> 2 Adults</li>
	      </ul>
      </span>
      </div>
       <div style="float:left;background:#F6FAFD;width: 100%;">
      <h3 style="background:#E9F2F9;padding:10px 0;text-align:center;width:100%;font-size:16.5px;text-transform:uppercase;margin-bottom: 18px;color: #333;">
      Your Cruise Details</h3>
      <span style="float:left;width:95.5%;padding-left: 4.5%;text-align: center;margin-bottom:24px;">
	      <ul style="float:left; width: 52.5%;">
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Itinerary:</span> Colours of the Cribbean</li>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Ship:</span> Thomson Dream</li>
	      </ul>
	      <ul>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Departing from:</span> Landon Gatwick</li>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Departure date:</span> 15 Sep 2015</li>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Whoe's going:</span> 2 Adults</li>
	      </ul>
      </span>
      </div>
       <div style="float:left;background:#F6FAFD;width: 100%;">
      <h3 style="background:#E9F2F9;padding:10px 0;text-align:center;width:100%;font-size:16.5px;text-transform:uppercase;margin-bottom: 18px;color: #333;">
      Your Cruise Details</h3>
      <span style="float:left;width:95.5%;padding-left: 4.5%;text-align: center;margin-bottom:24px;">
	      <ul style="float:left; width: 52.5%;">
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Itinerary:</span> Colours of the Cribbean</li>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Ship:</span> Thomson Dream</li>
	      </ul>
	      <ul>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Departing from:</span> Landon Gatwick</li>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Departure date:</span> 15 Sep 2015</li>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Whoe's going:</span> 2 Adults</li>
	      </ul>
      </span>
      </div>
       <div style="float:left;background:#F6FAFD;width: 100%;">
      <h3 style="background:#E9F2F9;padding:10px 0;text-align:center;width:100%;font-size:16.5px;text-transform:uppercase;margin-bottom: 18px;color: #333;">
      Your Cruise Details</h3>
      <span style="float:left;width:95.5%;padding-left: 4.5%;text-align: center;margin-bottom:24px;">
	      <ul style="float:left; width: 52.5%;">
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Itinerary:</span> Colours of the Cribbean</li>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Ship:</span> Thomson Dream</li>
	      </ul>
	      <ul>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Departing from:</span> Landon Gatwick</li>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Departure date:</span> 15 Sep 2015</li>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Whoe's going:</span> 2 Adults</li>
	      </ul>
      </span>
      </div>
        <div style="float:left;background:#F6FAFD;width: 100%;">
      <h3 style="background:#E9F2F9;padding:10px 0;text-align:center;width:100%;font-size:16.5px;text-transform:uppercase;margin-bottom: 18px;color: #333;">
      Your Cruise Details</h3>
      <span style="float:left;width:95.5%;padding-left: 4.5%;text-align: center;margin-bottom:24px;">
	      <ul style="float:left; width: 52.5%;">
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Itinerary:</span> Colours of the Cribbean</li>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Ship:</span> Thomson Dream</li>
	      </ul>
	      <ul>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Departing from:</span> Landon Gatwick</li>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Departure date:</span> 15 Sep 2015</li>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Whoe's going:</span> 2 Adults</li>
	      </ul>
      </span>
      </div>
       <div style="float:left;background:#F6FAFD;width: 100%;">
      <h3 style="background:#E9F2F9;padding:10px 0;text-align:center;width:100%;font-size:16.5px;text-transform:uppercase;margin-bottom: 18px;color: #333;">
      Your Cruise Details</h3>
      <span style="float:left;width:95.5%;padding-left: 4.5%;text-align: center;margin-bottom:24px;">
	      <ul style="float:left; width: 52.5%;">
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Itinerary:</span> Colours of the Cribbean</li>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Ship:</span> Thomson Dream</li>
	      </ul>
	      <ul>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Departing from:</span> Landon Gatwick</li>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Departure date:</span> 15 Sep 2015</li>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Whoe's going:</span> 2 Adults</li>
	      </ul>
      </span>
      </div>
        <div style="float:left;background:#F6FAFD;width: 100%;">
      <h3 style="background:#E9F2F9;padding:10px 0;text-align:center;width:100%;font-size:16.5px;text-transform:uppercase;margin-bottom: 18px;color: #333;">
      Your Cruise Details</h3>
      <span style="float:left;width:95.5%;padding-left: 4.5%;text-align: center;margin-bottom:24px;">
	      <ul style="float:left; width: 52.5%;">
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Itinerary:</span> Colours of the Cribbean</li>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Ship:</span> Thomson Dream</li>
	      </ul>
	      <ul>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Departing from:</span> Landon Gatwick</li>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Departure date:</span> 15 Sep 2015</li>
	      	<li style="font-size:12px;text-align: left;line-height: 17px"><span style="font-weight:bold;color:#333;">Whoe's going:</span> 2 Adults</li>
	      </ul>
      </span>
      </div>
    <a class="close close-large" href="javascript:void(0);">x</a>
	</div>

<div class="loading-overlay"></div>
    </div>
 </div>