{% ifequal templateview "arrivaldatepicker" %}
<div class="calendar ms {{floatWhere}} {{calClass}}" >
    <div class="calenderclose">
	   <a href="javascript:void(0);" class="closecal close-hide" analytics-id="COM_FO_SEARCH_PANEL" analytics-instance="1" analytics-text="ReturningClose"></a>
	</div>
	<div class="arrivalcalenderheader">
	   <h3>{{searchMessaging.date.selectArrivalDate}} | </h3>
	     <a href="javascript:void(0);"  analytics-id="COM_FO_SEARCH_PANEL" analytics-instance="1" analytics-text="ReturningChangeDepDate" class="changeDeparture change-departure">{{searchMessaging.date.changeDepartureDate}}</a>
	</div>

    <ul class="cal-nav cal-row arrivaldate-selector">
        <li class="prev cal-prev cal-nav-item"><a href="javascript:void(0);" title="Previous"  analytics-id="COM_FO_SEARCH_PANEL" analytics-instance="1" analytics-text="LeftScrollDateReturning" class="date-prev arrow-main arrow-left arrow-left-link arrow-lrg ir">&larr;</a></li>
        <li class="cal-month-selector cal-nav-item" analytics-id="COM_FO_SEARCH_PANEL" analytics-instance="1" analytics-text="ReturningDepDate">
            <select data-dojo-type="tui.widget.datepicker.ReturnDateSelectOption" class="dropdown">
                {% for month in monthsAndYears %}
                <option value="{{month.value}}" {% ifequal monthAndYearTxt month.label %} selected="selected"{% endifequal %}>{{month.label}}</option>
                {% endfor %}
            </select>
        </li>
        <li class="next cal-next cal-nav-item"><a href="javascript:void(0);" title="Next"  analytics-id="COM_FO_SEARCH_PANEL" analytics-instance="1" analytics-text="RightScrollDateReturning" class="date-next arrow-main arrow-right arrow-right-link arrow-lrg ir">&rarr;</a></li>
    </ul>

    <table class="datepickertable cal-table first-month" analytics-id="COM_FO_SEARCH_PANEL" analytics-instance="1" analytics-text="ReturnGrid">
        <thead>
        <tr class="weekdays">
            {% for day in days %}
            <th class="text-center cal-cell cal-cell-head">{{day}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for predate in predates %}
            <td class="premonth text-center arrival-cal-cell">&nbsp;</td>
            {% endfor %}
            {% for monthdate in monthdates %}
            <td class="arrival-datepicker-day arrival-date-text-indent arrival-cal-cell"><a href="javascript:void(0);">{{monthdate.date}}</a></td>
            {% if monthdate.newrow %}
        </tr><tr>
            {% endif %}
            {% endfor %}
            {% for enddate in enddates %}
            <td class="premonth text-center arrival-cal-cell">&nbsp;</td>
            {% endfor %}
        </tr>
        </tbody>
    </table>

    <div class="second-month-datepickertable second-month next-month-label">
         {% for monthAndYearLabel in monthAndYearLabelForNextMonth %}
	       {% ifequal monthAndYearLabel monthAndYearTxtForNextMonth %}
	           <span>{{monthAndYearTxtForNextMonth}}</span>
	       {% endifequal %}
	     {% endfor %}
	</div>

    <table class="second-month-datepickertable cal-table second-month"  analytics-id="COM_FO_SEARCH_PANEL" analytics-instance="1" analytics-text="ReturnGrid">
        <thead>
        <tr class="weekdays">
            {% for day in days %}
            <th class="text-center cal-cell cal-cell-head">{{day}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for nextmonthpredate in nextmonthpredates %}
            <td class="premonth text-center arrival-cal-cell">&nbsp;</td>
            {% endfor %}
            {% for nextmonthdate in nextmonthdates %}
            <td class="arrival-next-month-datepicker-day arrival-date-text-indent arrival-cal-cell"><a href="javascript:void(0);">{{nextmonthdate.date}}</a></td>
            {% if nextmonthdate.nextmonthnewrow %}
        </tr><tr>
            {% endif %}
            {% endfor %}
            {% for nextmonthenddate in nextmonthenddates %}
            <td class="premonth text-center arrival-cal-cell">&nbsp;</td>
            {% endfor %}
        </tr>
        </tbody>
    </table>

    {% ifequal widgetController.searchApi 'getPrice' %}<span class="arrow-main arrow-left arrow-left-bg"></span>{% endifequal %}
    {% ifequal widgetController.searchApi 'searchPanel' %}<span class="arrow-main arrival-arrow-top arrow-top-bg"></span>{% endifequal %}
    <div class="noResultsMonthCnt"></div>
    <div class="noResultsNextMonthCnt"></div>
</div>
{% endifequal %}

{% ifequal templateview "arrivaldatepickercells" %}
<table class="datepickertable cal-table first-month"  analytics-id="COM_FO_SEARCH_PANEL" analytics-instance="1" analytics-text="ReturnGrid">
    <thead>
    <tr class="weekdays">
        {% for day in days %}
        <th class="text-center cal-cell cal-cell-head">{{day}}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for predate in predates %}
        <td class="premonth text-center cal-cell">&nbsp;</td>
        {% endfor %}
        {% for monthdate in monthdates %}
        <td class="arrival-datepicker-day date-text-indent arrival-cal-cell"><a href="javascript:void(0);">{{monthdate.date}}</a></td>
        {% if monthdate.newrow %}
    </tr><tr>
        {% endif %}
        {% endfor %}
        {% for enddate in enddates %}
        <td class="premonth text-center cal-cell">&nbsp;</td>
        {% endfor %}
    </tr>
    </tbody>
</table>

<div class="second-month-datepickertable second-month next-month-label">
        {% for monthAndYearLabel in monthAndYearLabelForNextMonth %}
       {% ifequal monthAndYearLabel monthAndYearTxtForNextMonth %}
           <span>{{monthAndYearTxtForNextMonth}}</span>
       {% endifequal %}
     {% endfor %}
</div>

<table class="second-month-datepickertable cal-table second-month"  analytics-id="COM_FO_SEARCH_PANEL" analytics-instance="1" analytics-text="ReturnGrid">
    <thead>
    <tr class="weekdays">
        {% for day in days %}
        <th class="text-center cal-cell cal-cell-head">{{day}}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for nextmonthpredate in nextmonthpredates %}
        <td class="premonth text-center cal-cell">&nbsp;</td>
        {% endfor %}
        {% for nextmonthdate in nextmonthdates %}
        <td class="arrival-next-month-datepicker-day date-text-indent arrival-cal-cell"><a href="javascript:void(0);">{{nextmonthdate.date}}</a></td>
        {% if nextmonthdate.nextmonthnewrow %}
    </tr><tr>
        {% endif %}
        {% endfor %}
        {% for nextmonthenddate in nextmonthenddates %}
        <td class="premonth text-center cal-cell">&nbsp;</td>
        {% endfor %}
    </tr>
    </tbody>
</table>
{% endifequal %}

{% ifequal templateview "noavailability" %}
   <div class="first-month-available-message cal-msg first-month-available">
       <p>{{searchMessaging.date.noAvailability}} {{monthAndYearTxt}}</p>
       <ul class="available-date-links">
           <li class="left">
               <a href="javascript:void(0);" class="first-month-monthbar-link">{{searchMessaging.date.availability}}</a>
           </li>
       </ul>
   </div>

   <div class="second-month-datepickertable second-month next-month-label">
        {% for monthAndYearLabel in monthAndYearLabelForNextMonth %}
       {% ifequal monthAndYearLabel monthAndYearTxtForNextMonth %}
           <span>{{monthAndYearTxtForNextMonth}}</span>
       {% endifequal %}
     {% endfor %}
	</div>

	<table class="second-month-datepickertable cal-table second-month first-month-not-available"  analytics-id="COM_FO_SEARCH_PANEL" analytics-instance="1" analytics-text="ReturnGrid">
	    <thead>
	    <tr class="weekdays">
	        {% for day in days %}
	        <th class="text-center cal-cell cal-cell-head">{{day}}</th>
	        {% endfor %}
	    </tr>
	    </thead>
	    <tbody>
	    <tr>
	        {% for nextmonthpredate in nextmonthpredates %}
	        <td class="premonth text-center cal-cell">&nbsp;</td>
	        {% endfor %}
	        {% for nextmonthdate in nextmonthdates %}
	        <td class="arrival-next-month-datepicker-day date-text-indent arrival-cal-cell"><a href="javascript:void(0);">{{nextmonthdate.date}}</a></td>
	        {% if nextmonthdate.nextmonthnewrow %}
	    </tr><tr>
	        {% endif %}
	        {% endfor %}
	        {% for nextmonthenddate in nextmonthenddates %}
	        <td class="premonth text-center cal-cell">&nbsp;</td>
	        {% endfor %}
	    </tr>
	    </tbody>
	</table>
{% endifequal %}

{% ifequal templateview "noavailabilityinsecondmonth" %}
   <table class="datepickertable cal-table first-month"  analytics-id="COM_FO_SEARCH_PANEL" analytics-instance="1" analytics-text="ReturnGrid">
	    <thead>
	    <tr class="weekdays">
	        {% for day in days %}
	        <th class="text-center cal-cell cal-cell-head">{{day}}</th>
	        {% endfor %}
	    </tr>
	    </thead>
	    <tbody>
	    <tr>
	        {% for predate in predates %}
	        <td class="premonth text-center cal-cell">&nbsp;</td>
	        {% endfor %}
	        {% for monthdate in monthdates %}
	        <td class="arrival-datepicker-day date-text-indent arrival-cal-cell"><a href="javascript:void(0);">{{monthdate.date}}</a></td>
	        {% if monthdate.newrow %}
	    </tr><tr>
	        {% endif %}
	        {% endfor %}
	        {% for enddate in enddates %}
	        <td class="premonth text-center cal-cell">&nbsp;</td>
	        {% endfor %}
	    </tr>
	    </tbody>
	</table>

   <div class="second-month-available-message second-cal-msg second-month-available">
       <p>{{searchMessaging.date.noAvailability}} {{monthAndYearTxtForNextMonth}}</p>
       <ul class="available-date-links">
           <li class="left">
               <a href="javascript:void(0);" class="second-month-monthbar-link">{{searchMessaging.date.availability}}</a>
           </li>
       </ul>
   </div>
{% endifequal %}

{% ifequal templateview "showArrivalMonthBar" %}
	<div class="mnoth-bar"  analytics-id="COM_FO_SEARCH_PANEL" analytics-instance="1" analytics-text="Sorryoverall">
	  <p class="month-not-available-message start" >{{monthbarmessagestart}} </p>
	  <p class="month-not-available-message middle" >{{unAvailableMonthName}} </p>
	  <p class="month-not-available-message end" >{{monthbarmessageend}} </p>
	</div>
{% endifequal %}