{% if searchPanelModel.children != 0 %}
<p class="child-age-label">{{searchMessaging.childAges.label}}</p>
<div class="item child-age-selector">
{% for childAge in searchPanelModel.childAges %}
    <span class="child-age">
        <select class="dropdown" tabindex="0">
            <option value="-1">-</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
        </select>
    </span>
    {% if forloop.counter|divisibleby:rowLength %}
    {% if not forloop.last %}
</div>
<div class="item child-age-selector">
    {% endif %}
    {% endif %}
{% endfor %}
</div>
 {% endif %}
