{% for accomData in jsonData.accomodationDatas %}
		<div class="homepage_three">
			<div class="{% ifequal forloop.counter 3 %} grid-block-noborder {% endifequal %}  grid-block">
            	<div class="grid-component-media promo-prod">
	                <a href="{{accomData.deepLinkUrl}}" class="ensLinkTrack"
	                	data-componentId="{{compUid}}"
						baynote_slot='{{accomData.baynoteTrackingData.baynoteSlot}}'
						baynote_widget='{{accomData.baynoteTrackingData.baynoteWidget}}'
						baynote_pid='{{accomData.baynoteTrackingData.baynotePid}}'
	                >
						<img class="promo-prod-image" src="{{cdnDomain}}/images/b.gif" data-dojo-type="tui.widget.LazyLoadImage" data-dojo-props="source:'{{accomData.featuredImgUrl}}'" />
	                </a>
	                <a href="{{accomData.deepLinkUrl}}" style="display:block" class="ensLinkTrack"
						data-componentId="{{compUid}}"
						baynote_slot='{{accomData.baynoteTrackingData.baynoteSlot}}'
						baynote_widget='{{accomData.baynoteTrackingData.baynoteWidget}}'
						baynote_pid='{{accomData.baynoteTrackingData.baynotePid}}'
					>
						<div class="promo-prod-desc promo-prod-desc-accom homepageRecomm" >

                 			<div class="recs-strip">RECOMMENDED FOR YOU</div>
	                    	<h4 class="promo-prod-title">
                            	<span class="ellipsis">{{accomData.name}}</span>&nbsp;
		                    </h4>
		                    {% if accomData.featureCodesAndValues.tRating %}
		                    	{% ifnotequal accomData.featureCodesAndValues.tRating '' %}
		                        	<span class="rating rating-mdHomepage rating-block   t{{accomData.featureCodesAndValues.tRating.0|safe|cut:" " }} "></span>
		                   		{% endifnotequal %}
		                   	{% endif %}
		                   	<p class="promo-prod-location link">in {% if accomData.resortName %}{{accomData.resortName}}, {{accomData.countryName|safe}}{% else %}{{accomData.countryName|safe}}{% endif %}</p>
                		</div>
					</a>
					{% if accomData.productRanges %}
                	{% ifnotequal accomData.productRanges '' %}
                    	<span class="diff-label {% ifequal accomData.productRanges.0.code|lower 'smr' %}cou-sensimar{% else %}{{accomData.productRanges.0.code|lower|safe}}{% endifequal %}">
						{% ifequal siteName "firstchoice" %}
                    	<h4>{{accomData.productRanges.0.featureCodesAndValues.name.0|safe}}</h4>
                    	{% endifequal %}</span>
                	{% endifnotequal %}
               		{% endif %}
             	</div>
             </div>
        </div>
 {% endfor %}