<div id="mainSummary" class="famins-summary">
	<span class='title'>{{titleName|default:" "}}</span>
	<p class='desc'>{{jsonData.extraOptionsStaticContentViewData.insuranceStaticContentViewData.insuranceContentMap.Extra_Insurance_singletrip|default:" "}}</p>
		<div class="prebook-confirmation">
		    <h5 class="prebook-qty">{{jsonData.extraOptionsStaticContentViewData.insuranceStaticContentViewData.insuranceContentMap.Extra_Insurance_remove_message|default:" "}}</h5>
		    <h4 class="price-prebook-qty">
		      <label>{{summaryPrice|default:" "}}</label>
		      <p id="summaryRemove"><a class="prebook-removeqty" href="javascript:void(0)">remove x</a></p>
		    </h4>
		    <div class="clear"></div>
	  	</div>
</div>

