<div class="filter-panel-close-outer"><a href="javascript:void(0);" class="new-filter-close close">CLOSE</a>
<i class="close"></i></div>
<ul class="three-cols cf">
{% for filter in filters %}
{% if filter.id %}
<li class="item-content-section">
	{% if filter.name %}
	<h3>{{filter.name}}</h3>
	{% endif %}
	{% ifequal filter.name "Features" %}
	<ul class="checks">
	{% for check in filter.prioritizedHotelFeatures %}
		<li id="check_{{check.id}}">
            <span class="checkbox"
			      id="{{check.id}}"
			      data-dojo-type="tui.filterBPanel.view.options.CheckBox"
			      data-dojo-props='filterType: "{{filter.filterType}}", filterId: "{{filter.id}}" {% if check.categoryCode %}, categoryCode: "{{check.categoryCode}}" {% endif %} {% if check.name %}, name: "{{check.name}}" {% endif %}'>
			<span class="checkbox-bg"></span>
			<input type="checkbox"
			       id="field_{{check.id}}"
			       value="{{check.value}}"
			       class="check parent-check" {% if check.selected %} checked="{{check.selected}}" {% endif %}/>
			{% if check.name %}
			<label for="field_{{check.id}}">{% ifequal check.name|safe|lower 'sensimar' %}Couple/Sensimar{% else %}{{check.name|safe|lower}}{% endifequal %} {% if check.noAccommodations %} <span class="count">({{check.noAccommodations}})</span> {% endif %}</label>
			{% endif %}
			</span>
			{% ifnotequal check.children.length 0 %}<ul>
				{% for subcheck in check.children %}<li id="subcheck_{{subcheck.id}}">
                    <span class="checkbox" id="{{subcheck.id}}"
					      data-dojo-type="tui.filterBPanel.view.options.CheckBox"
					      data-dojo-props='filterType: "{{filter.filterType}}", filterId: "{{filter.id}}",  parentId : "{{check.id}}" {% if subcheck.categoryCode %}, categoryCode: "{{subcheck.categoryCode}}" {% endif %} {% if subcheck.name %}, name: "{{subcheck.name}}" {% endif %}'>
					<span class="checkbox-bg"></span>
					<input type="checkbox"
					       id="field_{{subcheck.id}}"
					       value="{{subcheck.value}}"
					       class="check child-check" {% if subcheck.selected %} checked="{{subcheck.selected}}" {% endif
					%}/>
					<label for="field_{{subcheck.id}}">{{subcheck.name|safe|lower}} {% if subcheck.noAccommodations %}
						<span class="count">({{subcheck.noAccommodations}})</span> {% endif %}</label>
					</span>
				</li>{% endfor %}
			</ul>{% endifnotequal%}
		</li>{% endfor %}
		{% for check in filter.nonPrioritizedHotelFeatures %}<li id="check_{{check.id}}">
          <span class="checkbox"
	      id="{{check.id}}"
	      data-dojo-type="tui.filterBPanel.view.options.CheckBox"
	      data-dojo-props='filterType: "{{filter.filterType}}", filterId: "{{filter.id}}" {% if check.categoryCode %}, categoryCode: "{{check.categoryCode}}" {% endif %} {% if check.name %}, name: "{{check.name}}" {% endif %}'>
	<span class="checkbox-bg"></span>
	<input type="checkbox"
	       id="field_{{check.id}}"
	       value="{{check.value}}"
	       class="check parent-check" {% if check.selected %} checked="{{check.selected}}" {% endif %}/>
	{% if check.name %}
	<label for="field_{{check.id}}">{% ifequal check.name|safe|lower 'sensimar' %}Couple/Sensimar{% else %}{{check.name|safe|lower}}{% endifequal %} {% if check.noAccommodations %} <span class="count">({{check.noAccommodations}})</span> {% endif %}</label>
	{% endif %}
	</span>
	{% ifnotequal check.children.length 0 %}<ul>
		{% for subcheck in check.children %}<li id="subcheck_{{subcheck.id}}">
                  <span class="checkbox" id="{{subcheck.id}}"
			      data-dojo-type="tui.filterBPanel.view.options.CheckBox"
			      data-dojo-props='filterType: "{{filter.filterType}}", filterId: "{{filter.id}}",  parentId : "{{check.id}}" {% if subcheck.categoryCode %}, categoryCode: "{{subcheck.categoryCode}}" {% endif %} {% if subcheck.name %}, name: "{{subcheck.name}}" {% endif %}'>
			<span class="checkbox-bg"></span>
			<input type="checkbox"
			       id="field_{{subcheck.id}}"
			       value="{{subcheck.value}}"
			       class="check child-check" {% if subcheck.selected %} checked="{{subcheck.selected}}" {% endif
			%}/>
			<label for="field_{{subcheck.id}}">{{subcheck.name|safe| lower}} {% if subcheck.noAccommodations %}
				<span class="count">({{subcheck.noAccommodations}})</span> {% endif %}</label>
			</span>
		</li>{% endfor %}
	</ul>{% endifnotequal%}
</li>{% endfor %}
	</ul>
	</div>
	{% endifequal %}
	{% ifequal filter.id "accommodationType" %}
	<ul class="checks">
	{% for check in filter.values %}
		<li id="check_{{check.id}}">
            <span class="checkbox"
			      id="{{check.id}}"
			      data-dojo-type="tui.filterBPanel.view.options.CheckBox"
			      data-dojo-props='filterType: "{{filter.filterType}}", filterId: "{{filter.id}}" {% if check.categoryCode %}, categoryCode: "{{check.categoryCode}}" {% endif %} {% if check.name %}, name: "{{check.name}}" {% endif %}'>
			<span class="checkbox-bg"></span>
			<input type="checkbox"
			       id="field_{{check.id}}"
			       value="{{check.value}}"
			       class="check parent-check" {% if check.selected %} checked="{{check.selected}}" {% endif %}/>
			{% if check.name %}
			<label for="field_{{check.id}}">{% ifequal check.name|safe|lower 'sensimar' %}Couple/Sensimar{% else %}{{check.name|safe|lower}}{% endifequal %} {% if check.noAccommodations %} <span class="count">({{check.noAccommodations}})</span> {% endif %}</label>
			{% endif %}
			</span>
			{% ifnotequal check.children.length 0 %}<ul>
				{% for subcheck in check.children %}<li id="subcheck_{{subcheck.id}}">
                    <span class="checkbox" id="{{subcheck.id}}"
					      data-dojo-type="tui.filterBPanel.view.options.CheckBox"
					      data-dojo-props='filterType: "{{filter.filterType}}", filterId: "{{filter.id}}",  parentId : "{{check.id}}" {% if subcheck.categoryCode %}, categoryCode: "{{subcheck.categoryCode}}" {% endif %} {% if subcheck.name %}, name: "{{subcheck.name}}" {% endif %}'>
					<span class="checkbox-bg"></span>
					<input type="checkbox"
					       id="field_{{subcheck.id}}"
					       value="{{subcheck.value}}"
					       class="check child-check" {% if subcheck.selected %} checked="{{subcheck.selected}}" {% endif
					%}/>
					<label for="field_{{subcheck.id}}">{{subcheck.name|safe|lower}} {% if subcheck.noAccommodations %}
						<span class="count">({{subcheck.noAccommodations}})</span> {% endif %}</label>
					</span>
				</li>{% endfor %}
			</ul>{% endifnotequal%}
		</li>{% endfor %}
	</ul>
	{% endifequal %}
</li>
{% endif %}
{% endfor %}
<div class="clear"></div>
</ul>
<div class="filter-mask-interactivity"></div>
