<div tabindex="0" class="guide {{expandableProp}} open open-anim-done stay-overlay">
    <span class="arrow left-arrow"></span>
    <div class="wrapper stay-wraper">
        <div class="stay-details">
            <div class="col col-first no-margin ">
                <ul>
                    <li class="no-stay"><label  class="no-hotel-stay" data-label="No Hotel Stay" data-value="0">
                        <input type="checkbox"  name="No Hotel Stay" value="0"/>
                        No hotel Stay<span class="radio-btn cruise-stay"></span></label>
                    </li>
                    <li class="cruisenStay">
                       <span class="name">
                          <label class="cruise-n-stay" data-label="Cruise then stay" data-value="7:CS" >
                              <input type="checkbox" name="7 Nights Cruise then stay"  value="7:CS" />
                              Cruise, then Stay for <span class="radio-btn cruise-stay"></span>
                          </label>
                       </span>
                       <span class="options night-options">
                          <label  class="" data-label="Cruise, then stay for 3 nights" data-value="3:CS" >
                              <input type="checkbox" name="3 Nights Cruise then stay"  value="3:CS" />3 nights<span class="radio-btn cruise-stay"></span>
                          </label>
                          <label  class="" data-label="Cruise, then stay for 4 nights" data-value="4:CS" >
                              <input type="checkbox" name="4 Nights Cruise then stay"  value="4:CS" />4 nights<span class="radio-btn cruise-stay"></span>
                          </label>
                          <label  class="" data-label="Cruise, then stay for 7 nights" data-value="7:CS" >
                              <input type="checkbox" name="7 Nights Cruise then stay"  value="7:CS" />7 nights<span class="radio-btn cruise-stay"></span>
                          </label>
                       </span>
                    </li>
                    <li class="staynCruise">
                        <label  class="stay-and-cruise" data-label="Stay for 7 nights, then Cruise" data-value="7:SC" >
                            <input type="checkbox" name="7 Nights Stay then Cruise"  value="7:SC" />Stay for 7 nights, then Cruise<span class="radio-btn cruise-stay"></span>
                        </label>
                    </li>
                </ul>
            </div>
            <a class="close stay-close" href="javascript:void(0);"><span class="hide-list">Hide list</span></a>
        </div>
    </div>
</div>