<div style="float:left;border-top:1px solid #ccc;padding-top:15px;margin-top:15px;width:965px;">
    <div class="title-bar">
        <h3 style="margin-bottom:12px;">Itinerary or port of call name</h3>
    </div>
    <div class="quick-search">
        <div style="float:left;padding-left:25px;">
            <input lang="en"  placeholder="Type the first few letters of an itinerary or port of call name" class="textfield textfield-search" style="border-color: #72B2E0;" />
        </div>
    </div>
</div>