<div id="checkBox-Overlay-insurance" class="checkBoxOverlay">
 <a href="javascript:void(0);" class="close abs fr">close</a>
<div class="iDontNeedTransfer fl ">
        <p class="fl infoclassP">

          <span class="iDNTransferText fl ">Travel Insurance</span>
          <span class="iDNCarHireText fl">{{jsonData.extraOptionsStaticContentViewData.insuranceStaticContentViewData.insuranceContentMap.Extra_Insurance_Add_Insure_Popup|default:" "}}</span>
        </p>

      </div>

      <div class="button-section fl">
			<div class="fl">
				<a href="javascript:void(0)" id="checkBoxArrangeInsurance"  class="arrangeinsurance button">I'LL ARRANGE MY OWN INSURANCE</a>

			</div>
			<div class="fr">
				<a id="checkBoxAddInsurance" class="button submit cta" href="#travel-ins">ADD INSURANCE</a><br /><br />
			</div>
		</div>

</div>
