<div class="inner  scroller" data-dojo-type="tui.widget.ScrollPanel">
    {% if breadCrumb.list %}
	{% ifnotequal breadCrumb.list.length 1 %}
		<div id="tab-all-top-bar" analytics-id="300ab" analytics-text="destBreadcrumb" analytics-instance="1" class="nav cf " style="padding-top:8px;">
			<div>
				<span style="margin-left: 5px;"><i></i> <a href="javascript:void(0);"
								class="backspace-destination-model backspace-destination-icon"
								data-destination-id="{{breadCrumb.backspace.id}}"
								data-destination-name="{{breadCrumb.backspace.name}}"
								data-destination-type="{{breadCrumb.backspace.type}}"
								data-destination-multiselect="{{breadCrumb.backspace.multiSelect}}"
								></a><span class="pipe">|</span></span>
				<ul class="action-links">
				{% if breadCrumb.list %}
				{% for destination in breadCrumb.list %}
					{% if not forloop.last %}
					<li class="activeLink"><a
						data-destination-id="{{destination.id}}"
						data-destination-name="{% if destination.name %}{{destination.name}}{% endif %}"
						data-destination-type="{{destination.type}}"
						data-destination-multiselect="{{destination.multiSelect}}"
					>{{destination.name}}</a></li>
					{% else %}
					<li class="inactiveLink">{% if destination.name %}{{destination.name}}{% endif %}</li>
					{% endif %}
				{% endfor %}
				{% endif %}
				</ul>
			</div>
		</div>

		<div class="select-all" analytics-id="300ab" analytics-text="destDrillDown" analytics-instance="1">
				<label for="all-{{ breadCrumb.last.name }}"
				class="{% for to in searchPanelModel.to.data %}{% ifequal to.id breadCrumb.last.id %} selected{% endifequal %}{% endfor %}">
				<input
					type="checkbox"
					name="all-{{ breadCrumb.last.name }}"
					id="all-{{ breadCrumb.last.id }}"
					value="{{breadCrumb.last.name}}"
					class="{{breadCrumb.last.id}}"
					data-destination-id="{{breadCrumb.last.id}}"
					data-destination-name="{{breadCrumb.last.name}}"
					data-destination-type="{{breadCrumb.last.type}}"
					data-destination-multiselect="{{breadCrumb.last.multiSelect}}"
					/>All of {{ breadCrumb.last.name }} <span class="checkbox"></span></label>
	</div>
	{% endifnotequal %}
    {% endif %}
	<div id="tab-all-viewport" class="col-container">
	    {% if breadCrumb.list %}
		{% ifequal breadCrumb.list.length 1 %}
			<div class="most-popular-destinations">MOST POPULAR</div>
			<div class="most-pop-destns" analytics-id="300ab" analytics-text="destselectmpopular" analytics-instance="1" >
				{% for pdestination in suggestions %}
					{% if not forloop.counter|divisibleby:columnLength %}
					<div class="col quarter">
						<ul class="dest-results">
					{% endif %}
							<li class="cf" id="recommended-{{pdestination.id}}">
								<div class="title cf {% if pdestination.available %} available {% endif %}" style="border-bottom: 1px solid #eae9e9">

									<h3>
									<label for="recommended-{{pdestination.id}}" class="{% if not pdestination.available %} disabled{% else %}{% for to in searchPanelModel.to.data %}{% ifequal to.id pdestination.id %} selected{% endifequal %}{% endfor %}{% endif %}">
									<input type="checkbox"
											data-destination-id="{{pdestination.id}}"
											data-destination-name="{{pdestination.name}}"
											data-destination-type="{{pdestination.type}}"
											data-destination-multiselect="{{pdestination.multiSelect}}"
											name="{{pdestination.id}}"
											id="recommended-{{pdestination.id}}"
											value="{{pdestination.id}}"
											class="{{pdestination.id}}"
									{% for to in searchPanelModel.to.data %}
										{% ifequal to.id pdestination.id %}
											checked=checked
										{% endifequal %}
									{% endfor %}
									>
									{{pdestination.name}} <span class="checkbox"></span></label></h3>



								</div>
							</li>
					{% if forloop.counter|divisibleby:columnLength %}
						</ul>
					</div>
					{% endif %}
				{% endfor %}
			</div>
			<div class="shadow top"></div>
			<div class="shadow bottom"></div>
		<div class="a-z-destinations">A TO Z</div>
		<div class="a-z-destinationContainer" analytics-id="300ab" analytics-text="destselecta-z" analytics-instance="1">
		{% endifequal %}
		{% endif %}
		
		<div class="col quarter">
		{% if navigationList %}
			<ul class="dest-results">
		{% for destination in navigationList %}
				<li class="cf">
					<div class="title cf {% if destination.available %} available {% endif %}">
						<h3 class="cf">
							<label for="{{destination.id}}" class="{% for to in searchPanelModel.to.data %}{% ifequal to.id destination.id %} selected{% endifequal %}{% endfor %}">
							<input
								type="checkbox"
								data-destination-id="{{destination.id}}"
								data-destination-pid="{% ifnotequal breadCrumb.list.length 1 %}{{breadCrumb.last.id}}{% endifnotequal %}"
								data-destination-name="{{destination.name}}"
								data-destination-type="{{destination.type}}"
								data-destination-multiselect="{{destination.multiSelect}}"
								name="{{destination.name}}"
								id="alldestinations-{{destination.id}}"
								value="{{destination.name}}"
								class="{{destination.id}}"
						{% for to in searchPanelModel.to.data %}
							{% ifequal to.id destination.id %}
								checked=checked
							{% endifequal %}
						{% endfor %}

							>{{destination.name}}<span class="checkbox"></span></label>
						</h3>
					</div>
						{% if destination.children.length > 0 %}
						<div id="tab-all-children" class="details cf with-arrow">
						<span class="overflowIndicator displayNone"></span>
						<p>
						<a style="text-decoration:none"
						data-destination-id="{{destination.id}}"
						data-destination-name="{{destination.name}}"
						data-destination-type="{{destination.type}}"
						data-destination-multiselect="{{destination.multiSelect}}"
						>
							{% for child in destination.children %}{{ child.name }}{% if not forloop.last %},{% endif %}{% ifequal forloop.counter 4 %}{% endifequal %}
							{% endfor %}
							<i class="arrow-right"></i>
						</a>
						</p>
						</div>
						{% else %}
						    {% if from > 0 %}
							{% ifequal destination.available false %}
						<div id="tab-all-children" class="details cf with-arrow">
							<p>
							<span>
								Sorry, we don't fly this route
								<a href="#" class="no-arrow"
								data-destination-id="{{destination.id}}"
								data-destination-name="{{destination.name}}"
								data-destination-type="{{destination.type}}"
								>See airports that fly here</a>
							</span>
							</p>
						</div>
							{% endifequal %}
							{% endif %}
						{% endif %}
				</li>
				{% if forloop.counter|divisibleby:alldestinationsColumns %}
					{% if not forloop.last %}
			</ul>
		</div>
		<div class="col quarter">
			<ul class="dest-results">
					{% endif %}
				{% endif %}
		{% endfor %}
        {% endif %}
		</div>
		</div>
	</div>
</div>
<div class="shadow top"></div>
<div class="shadow bottom"></div>
