<div class="guide destination destination-guide-2015 {{expandableProp}}" tabindex="0">
    <span class="arrow"></span>
    <div class="wrapper">
        <div class="filter custom-checkbox">
            <div class="title-bar">
                <div class="toggle-group loaded">
                    <label class="toggle-label left active" for="">Destinations</label>
                    <div class="toggle-slide toggle-slide-alt" analytics-text="DListCouTog" analytics-id="300ab" analytics-instance="1">
                        <input type="radio" name="" value="" id="">
                        <input type="radio" name="" value="" id="" checked="">
                        <a class="toggle-button off" href="javascript:void(0);"><i class="icon icon-handle sprite-img-grp-1">||</i></a>
                    </div>
                    <label class="toggle-label right" for="">Collections &amp; Holiday types</label>
                </div>
            </div>
            <div id="dg-items" style="width:100%;margin-left: 0px;">
				<div class="default-destinations destination-list" id="{{id}}-destinations">
				<div class="most-popular-loading-overlay"></div>
    				<div class="cta-container">
        				<a class="button cta close-popup" analytics-text="DLDoneCou" analytics-id="300ab" analytics-instance="1">Done</a>
    				</div>
    			</div>
    		</div>
    		<div class="loading-overlay"></div>


        </div>
    </div>
</div>