<div class="room-result" id="roompanel_{{resultsInsertNo}}">
	<span class="count">{{resultsInsertNo}}</span>
	<div class="heading">
		<h3>Superior Room</h3>
		<p>with saved line just in case</p>
	</div>
	<img src="../images/FC-placeholder-rooms.jpg" alt="">
	<div class="details">
		<p>Sleeps: <a href="#">66 Adults</a>, <a href="#">99 Children</a></p>
		<ul class="square lineup-left">
			<li><span class='icon-bullet sprite-img-grp-1'></span>Double bed</li>
			<li><span class='icon-bullet sprite-img-grp-1'></span>Ensuite bathroom with bath &amp; shower</li>
			<li><span class='icon-bullet sprite-img-grp-1'></span>Desk, chair &amp; sofa</li>
		</ul>
		<p>Room Upgrades:</p>
		<ul class="square lineup-left">
			<li><span class='icon-bullet sprite-img-grp-1'></span>Garden view</li>
			<li><span class='icon-bullet sprite-img-grp-1'></span>Sea View</li>
		</ul>
	</div>
	<div class="boxout">
		<p>Hurry up, <span>only 8 rooms left!</span></p>
		<a class="button cta jumbo" href="#">More Details</a>
	</div>
</div>

			