{% for item in items %}
<li>
	<div class="product-image">
		<img alt="" src="../images/FC-placeholder-sights.gif" class="thumbnail medium">
		<div class="product-notes">
			<h5 class="discount-label"><span>Ons sale - save £100pp*</span></h5>
		</div>
	</div>
	<div class="product-heading">
		<h4><a>PARADISUS RIO D’ORO RESORT AND SPA</a></h4>
		<div class"t-rating"="">
			<h5>SORRENTO, NEAPOLITAN RIVIERA...</h5>
		</div>
		<div class="product-short-description">
			<p>
				If it's a luxury break in Sorrento you're after, book the Grand hotel Ambasciatori ... Read more  »
			</p>
		</div>
		<div class="product-cta"><p><span class="">£</span>450</p><a href="#">View details »</a></div>
	</div>
</li>
{% endfor %}