<div class="modal-window logout-popup">
	<div class="mask-interactivity"></div>
    <div class="wrapper">
     <div class="ac-logout ac-popup">
        <div class="header">
			<h3>{{LeaveText}}</h3>
            <a href="javascript:void(0);" class="close abs">close</a>
        </div>
		<div class="logout-cont">
			<h4>{{ConfText}}</h4>
			<div class="btns">
				<a href="exitBooking" id="exitButton" class="button cta-grey">{{EndBookingText}}</a>
                <a href="javascript:void(0);" class="cancel">{{CancelText}}</a>
			</div>

		</div>
    </div>
   </div>
</div>