<div class="field-container">
	<input class="textfield shop" name="sec_shopNumber" data-dojo-attach-point="shopNumber" maxlength="4" type="text" />
	<span class="placeholder">{{placeholderShop}}</span>
</div>
<span class="ref-sep">/</span>
<div class="field-container">
	<input class="textfield vision" name="sec_visionReference" data-dojo-attach-point="visionReference" maxlength="6" type="text" />
	<span class="placeholder">{{placeholderVision}}</span>
</div>
<div class="validation-wrap">
	<span class="shop-field validate-icon"></span>
	<span class="vision-field"></span>
	<span class="invalid-copy err"></span>
</div>