<div>
{% if not jsonData.packageViewData.multicomThirdPartyFlight %}
<div class="luggage-container">
<a name="BaggageExtras"></a>
 <h2 class="luggage-header fs28px underline">{{jsonData.flightOptionsStaticContentViewData.flightContentMap.Flight_LuggageAllowance_CompHeader|default:" "}}</h2>
	{% if jsonData.baggageSectionDisplayed == "true" %}
		<p class="luggage-text">{{jsonData.flightOptionsContentViewData.flightContentViewData.contentMap.larger_bag_info_one_Intro|default:" "|safe}}
		</p>
		<p class="luggage-text">{{jsonData.flightOptionsContentViewData.flightContentViewData.contentMap.larger_bag_info_one_intro1|default:" "|safe}}</p>
		{% else %}
			{% endif %}
		<div class="luggage">
	      		<div class="luggageIcon"></div>
	      		<ul>
	      		 {% for description in jsonData.flightOptionsContentViewData.flightContentViewData.contentMap.larger_bag_info_one_usp %}
	      		 <li>{{description|default:" "}}</li>
	 				{% endfor %}
	           </ul>
				<div class="clear"></div>
		</div>
	<div class="tooltip position-top-center disNone">
		<p>Waiting for the content from UX team.</p>
		<span class="arrow"></span>
	</div>
	<div id="luggage-allowance" class="luggage-allowance">
		<div class="relative">
			<div class="luggage-type">
				<div class="checkin" >
					<div class="width32per">
						<h5>{{jsonData.flightOptionsStaticContentViewData.flightContentMap.Flight_LuggageAllowance_Text6|default:" "}}</h5>
	                        <span class="weight-kg fl">All weights are in kg</span>
	                        <!--<span lang="en" data-dojo-type="tui.widget.popup.Tooltips"  data-dojo-props="floatWhere:'position-top-center', text: 'Waiting for the Content'" class="">
				 				<span class="more-info fr "></span></span> ram -->
					</div>
					{% if jsonData.baggageSectionDisplayed == "true"%}
						{% for extraFacility in jsonData.extraFacilityViewDataContainer.baggageOptions.extraFacilityViewData %}
						 	{% ifnotequal jsonData.packageViewData.paxViewData.noOfInfants 0 %}
								{% if forloop.first %}
									<div class="luggage-allowance-limit tenkg">
									<div class="baggage-Headings texttenkg">Infants</div>
									</div>
								{% endif %}
							{% endifnotequal %}
							<div class=" luggage-allowance-limit img{{extraFacility.weightCode}} {% ifequal jsonData.extraFacilityViewDataContainer.baggageOptions.extraFacilityViewData.length 2 %} {% ifequal extraFacility.weightCode 15 %} default {% endifequal %} {% endifequal %} {% ifnotequal jsonData.packageViewData.paxViewData.noOfInfants 0 %} {% ifequal jsonData.extraFacilityViewDataContainer.baggageOptions.extraFacilityViewData.length 1 %} default {% endifequal %} {% endifnotequal %} {% ifnotequal jsonData.packageViewData.paxViewData.noOfInfants 0 %} {% ifequal extraFacility.weightCode 15 %} default {% endifequal %} {% endifnotequal %}">
							<div class=" baggage-Headings text{{extraFacility.weightCode}}">
							</div>
							</div>
						{% endfor %}
						{% else %}
							{% ifnotequal jsonData.packageViewData.paxViewData.noOfInfants 0 %}
								<div class="luggage-allowance-limit tenkg"><div class="baggage-Headings texttenkg">Infants</div>
								</div>
							{% endifnotequal %}
							 <div class="luggage-allowance-limit img23 ">
							 <div class="baggage-Headings twenty-threekg">Premium</div>
							 </div>
						    {% endif %}
					<div class="clear"></div>
				</div>
			<div class="clear"></div>
			<div class="shadow-border posAbsolute">

				{% for passenger in jsonData.packageViewData.passenger %}
					<div class="details-people-luggage {% if forloop.last %}  {% else %} hide-border {% endif %}" >
						<div id="{{passenger.identifier}}" class="person-type fl">
							{% ifequal passenger.type "ADULT"%}
					                     {{passenger.passengerLabel}}
							{% endifequal %}
					        {% ifequal passenger.type "SENIOR"%}
					                    {{passenger.passengerLabel}}
					        {% endifequal %}
					        {% ifequal passenger.type "CHILD"%}
					                    {{passenger.passengerLabel}} <span>(age {{passenger.age}})</span>
					        {% endifequal %}
					        {% ifequal passenger.type "INFANT"%}
					                     {{passenger.passengerLabel}} <span>(age 0-2)</span>
					        {% endifequal %}
		   				</div>

				        {% ifnotequal jsonData.packageViewData.paxViewData.noOfInfants 0 %}
							<div class="luggage-select fl" id="limit[{{passenger.identifier}}]">
		                            <div class="luggage-select-checkbox">
		                                <div class="luggage-limit">
		                                    <input data-dojo-attach-point="radioButton" type="radio"
		                                        id="chkbox[{{passenger.identifier}}]"
		                                        name="passenger[{{passenger.identifier}}]" class="radioBtn"
		                                        value="doubleAmt"
												{% ifnotequal passenger.type "INFANT" %}
		                                	        disabled
												{% else %}
													checked
													disabled
												{% endifnotequal %}  />
		                                        <label  for="chkbox[{{passenger.identifier}}]" class="radioBtn">
		                                         <span for="chkbox[{{passenger.identifier}}]"  class="radioBtn"></span>
													{% ifnotequal passenger.type "INFANT" %}
		                            			      <p>Unavailable</p>
													{% else %}
		                                     			Included
													{% endifnotequal %}
		                                       </label>
		                                </div>
		                            </div>
		                        </div>
						{% endifnotequal %}

						{% if jsonData.baggageSectionDisplayed == "true" %}
							{% for bag in jsonData.extraFacilityViewDataContainer.baggageOptions.extraFacilityViewData %}
								<div class="luggage-select fl "	id="limit[{{passenger.identifier}}{{forloop.counter}}]">
									<div class="luggage-select-checkbox">
										<div class="luggage-limit">
											<input type="radio" data-dojo-attach-point="radioButton"
												id="chkbox[{{passenger.identifier}}{{forloop.counter}}]"
												name="{{passenger.identifier}}" class="radioBtn"
												value="{{bag.code}}"
												{% ifnotequal passenger.type "INFANT" %}
													{% ifequal bag.code passenger.selectedBaggageOption.code %}
														checked
														disabled
													{% endifequal %}
												{% else %}
													disabled
												{% endifnotequal %} />
												<label for="chkbox[{{passenger.identifier}}{{forloop.counter}}]" class="radioBtn">
												<span for="chkbox[{{passenger.identifier}}{{forloop.counter}}]"	class="radioBtn"></span>
													{% ifequal bag.price 0 %}
														{% ifnotequal passenger.type "INFANT" %}
															Included
														{% else %}
															<p>Unavailable</p>
														{% endifnotequal %}
													{% else %}
														{% ifequal passenger.type "INFANT" %}
															<p>Unavailable</p>
														{% else %}
															<p class= "bag-Price">{{bag.currencyAppendedPrice}}</p>
														{% endifequal %}
													{% endifequal %}
												</label>
											</div>
										</div>
									</div>
							{% endfor %}
							{% else %}
							<div class="luggage-select fl"
		                            id="limit[{{passenger.identifier}}{{forloop.counter}}]">
		                            <div class="luggage-select-checkbox">
		                                <div class="luggage-limit">
		                                    <input type="radio" data-dojo-attach-point="radioButton"
		                                        id="chkbox[{{passenger.identifier}}{{forloop.counter}}]"
		                                        name="passenger[{{passenger.identifier}}{{forloop.counter}}]" class="radioBtn"
		                                        value="doubleAmt"

		                                        {% ifnotequal passenger.type "INFANT" %}
		                                        checked
		                                        disabled
		                                        {% else %}
												disabled
												{% endifnotequal %}  />
		                                        <label
		                                        for="chkbox[{{passenger.identifier}}{{forloop.counter}}]"
		                                        class="radioBtn">
		                                         <span
		                                        for="chkbox[{{passenger.identifier}}{{forloop.counter}}]"
		                                        class="radioBtn">
		                                        </span>
		                                            {% ifnotequal passenger.type "INFANT" %}
		                                            Included
		                                            {% else %}
		                                            <p>Unavailable</p>
													{% endifnotequal %}
		                                        </label>
		                                </div>
		                            </div>
		                        </div>

							 {% endif %}
							 <div class="clear"></div>
						</div>
					{% endfor %}

					{% ifequal jsonData.packageViewData.paxViewData.noOfInfants 0 %}
					  {% ifnotequal jsonData.packageViewData.passenger.length 1 %}
						<div class="details-people-luggage bordernone">
							<div class="person-type fl" >&nbsp;</div>
							<div class="luggage-select fl">&nbsp;</div>
							{% ifnotequal jsonData.extraFacilityViewDataContainer.baggageOptions.extraFacilityViewData.length  3 %}
								 <div class="luggage-select fl">&nbsp;</div>
							{% endifnotequal %}


								{% if jsonData.baggageSectionDisplayed == "true" %}
									 {% for bag in jsonData.extraFacilityViewDataContainer.baggageOptions.extraFacilityViewData %}
									 	{% if bag.totalSelected == "true" %}
									 		{% ifequal jsonData.extraFacilityViewDataContainer.baggageOptions.extraFacilityViewData.length 2 %}
									 			{% ifnotequal forloop.counter "1" %}
												 <div class="luggage-select fl">&nbsp;</div>
												{% endifnotequal %}
									 		{% endifequal %}
									 		{% ifnotequal forloop.counter "1" %}
							    				<div class="luggage-select fl" data-dojo-attach-point="Added"><button class="button jumbo selected select-seat"  disabled><span>Selected</span></button></div>
							    			{% endifnotequal %}
										{% else %}
										  {% ifnotequal bag.weightCode "15" %}
										  	{% ifequal jsonData.extraFacilityViewDataContainer.baggageOptions.extraFacilityViewData.length 2 %}
										  	  {% ifequal bag.weightCode "25" %}
										  	  	<div class="luggage-select fl">&nbsp;</div>
										  		<div class="luggage-select fl"><button  class="button jumbo" id="{{bag.code}}"><span class="withPrice"> SELECT FOR ALL</span></button></div>
										  	  {% endifequal %}
										  	  {% ifequal forloop.counter "2" %}
											  	   {% ifequal bag.weightCode "20" %}
											  	  	<div class="luggage-select fl">&nbsp;</div>
											  		<div class="luggage-select fl"><button  class="button jumbo" id="{{bag.code}}"><span class="withPrice"> SELECT FOR ALL</span></button></div>
											  	  {% endifequal %}
											  	  {% ifequal bag.weightCode "23" %}
											  	  	<div class="luggage-select fl">&nbsp;</div>
											  		<div class="luggage-select fl"><button  class="button jumbo" id="{{bag.code}}"><span class="withPrice"> SELECT FOR ALL</span></button></div>
											  	  {% endifequal %}
										  	  {% endifequal %}
										  	   {% else %}
										  	   {% ifnotequal jsonData.extraFacilityViewDataContainer.baggageOptions.extraFacilityViewData.length 1 %}
										  	   	<div class="luggage-select fl"><button  class="button jumbo" id="{{bag.code}}"><span class="withPrice"> SELECT FOR ALL</span></button></div>
										  	   	{% endifnotequal %}
										  	{% endifequal %}
								   		  {% endifnotequal %}
								   		{% endif %}
							    	{% endfor %}
						      {% endif %}

							<div class="clear"></div>
						</div>
					  {% endifnotequal %}
					{% endifequal %}
				</div>
 			</div>
		</div>
	</div>

	<div class="hand-lagguage">
	  <h2>Hand Luggage</h2>
		<div class="fl oneTime">
			{% if jsonData.baggageSectionDisplayed == "true"%}
				<div class="fl hand-luggageIcon5">(Per passenger)</div>
			{% else %}
				<div class="fl hand-luggageIcon7">(Per passenger)</div>
			{% endif %}
			<div class="perPassenger">One item per passenger  {% ifnotequal jsonData.packageViewData.paxViewData.noOfInfants 0 %} (except infants) {% endifnotequal %}<br />{{jsonData.flightOptionsStaticContentViewData.flightContentMap.Flight_LuggageAllowance_Text8|default:" "}} <br /><a href="{{restrictionString|default:\' \'}}" target="_blank"> Restrictions apply</a></div>
				<div class="clear"></div>
		</div>
			<div class="fr total">
				Total check-in allowance <strong>{{jsonData.extraFacilityViewDataContainer.baggageOptions.totalSelectedWeight}}kg</strong><br>
				<span>{{jsonData.flightOptionsStaticContentViewData.flightContentMap.Flight_LuggageAllowance_Text7|default:" "}}</span>
			</div>
			<div class="clear"></div>
	</div>
</div><div class="dashed-border mb20px mt20px"></div>
{% else %}
{% if thirdPartyFlightSelectionFlag == "true" %}
 <h2 class="luggage-threepf-header underline">{{jsonData.flightOptionsStaticContentViewData.flightContentMap.Flight_LuggageAllowance_CompHeader}}</h2>
<div id="luggage-allowance" class="luggage-allowance-threepf">
	<h4 class="luggage-threepf-text">{{jsonData.flightOptionsStaticContentViewData.flightContentMap.Flight_LuggageAllowance_Text3}}</h4>
	<div class="luggage-threepf">
      		<div class="luggageIcon"></div>
      			{{thirdPartyLuggageInfo.uspKeys|default:" "|safe}}
           <div class="preBook">
					<h3>20kg</h3>
					<p>included per person</p>

			</div>
			<div class="clear"></div>
	</div>
	<h4 class="luggage-threepf-text">{{jsonData.flightOptionsStaticContentViewData.flightContentMap.Flight_LuggageAllowance_Text5}}</h4>
	<div class="hand-luggage">
      		<div class="luggageIcon"></div>
      		{{thirdPartyLuggageInfo.uspHandLuggage|default:" "|safe}}
			<div class="clear"></div>
	</div>
</div> 
{% else %}
 <h2 class="luggage-threepf-header underline">{{jsonData.flightOptionsStaticContentViewData.flightContentMap.Flight_LuggageAllowance_CompHeader}}</h2>
<div id="luggage-allowance" class="luggage-allowance-threepf">
	<h4 class="luggage-threepf-text">{{jsonData.flightOptionsStaticContentViewData.flightContentMap.Flight_LuggageAllowance_Text3}}</h4>
	<div class="luggage-threepf">
      		<div class="luggageIcon"></div>
      			{{jsonData.flightOptionsStaticContentViewData.flightContentMap.DESK_MIX_Luggage_Description|default:" "|safe}}
           <div class="preBook">
					<h3>20kg</h3>
					<p>included per person</p>
			</div>
			<div class="clear"></div>
	</div>
	<h4 class="luggage-threepf-text">{{jsonData.flightOptionsStaticContentViewData.flightContentMap.Flight_LuggageAllowance_Text5}}</h4>
	<div class="hand-luggage">
      		<div class="luggageIcon"></div>
      		{{jsonData.flightOptionsStaticContentViewData.flightContentMap.DESK_MIX_HandLuggage_Description|default:" "|safe}}
			<div class="clear"></div>
	</div>
</div>
{% endif %}
{% endif %}
</div>