<div class="channels-modal-window">
<!-- <a href="#" class="close abs fr app_clas">close</a> -->
<h2 class="fs28px">Car hire Terms & Conditions
<a class="close abs fr app_clas" href="javascript:void(0);">close</a>
</h2>
<div class="car-hire-terms">
	<div>
		<h3>{{jsonData.extraOptionsContentViewData.extraContentViewData.contentMap.alamo_Key_Value_One_Title|default:" "}}</h3>
		<p>{{jsonData.extraOptionsContentViewData.extraContentViewData.contentMap.alamo_Key_Value_One_Body|default:" "}}</p>
	</div>

	<div>
		<h3>{{jsonData.extraOptionsContentViewData.extraContentViewData.contentMap.alamo_key_value_pair_2_title|default:" "}}</h3>
		<p>{{jsonData.extraOptionsContentViewData.extraContentViewData.contentMap.alamo_key_value_pair_2_body|default:" "|safe}}</p>
	</div>

	<div>
		<h3>{{jsonData.extraOptionsContentViewData.extraContentViewData.contentMap.ch_fip_Key_Value_One_Title|default:" "}}</h3>
		<p>{{jsonData.extraOptionsContentViewData.extraContentViewData.contentMap.ch_fip_Key_Value_One_Body|default:" "|safe}}
	</div>

	<div>
		<h3>{{jsonData.extraOptionsContentViewData.extraContentViewData.contentMap.GOLD_PACKAGE_displayName|default:" "}}</h3>
		<p>{{jsonData.extraOptionsContentViewData.extraContentViewData.contentMap.GOLD_PACKAGE_Intro|default:" "}}</p>

		<p>{{jsonData.extraOptionsContentViewData.extraContentViewData.contentMap.ch_aof_intro1|default:" "}}
			{{jsonData.extraOptionsContentViewData.extraContentViewData.contentMap.ch_aditional_driver_extra_detail_1|default:" "}}
			{{jsonData.extraOptionsContentViewData.extraContentViewData.contentMap.ch_inf_seats_Intro|default:" "}}
		</p>

		<p>{{jsonData.extraOptionsContentViewData.extraContentViewData.contentMap.ch_age_info_extra_detail_1|default:" "}}
		   {{jsonData.extraOptionsContentViewData.extraContentViewData.contentMap.ch_poa_Intro|default:" "}}
		</p>

		<p>{{jsonData.extraOptionsContentViewData.extraContentViewData.contentMap.alamo_intro1|default:" "}}</p>
	</div>
</div>
</div>
