<div class="modal-window">
	<div class="check-prices">
	<form data-dojo-type="tui.widget.booking.GetPriceComponent" method="post" action="/fcsun/page/waiting/searchwaiting.page">
			<input type="hidden" value="1" name="RequestId" id="RequestId">
			<input type="hidden" value="2" name="ChannelSiteId">
			<input type="hidden" value="Search" name="RequestPage">
			<input type="hidden" value="AvailSearch" name="RequestAction">
			<input type="hidden" value="F" name="seaType">
			<input type="hidden" value="WEB1" name="agent">
			<input type="hidden" value="" name="agentOperator">
			<input type="hidden" value="" name="agentPassword">
			<input type="hidden" value="GA, GB, GF, GL, GP, GQ, GX, HH, HM, HR, LC, PF, PP, RB, FB, FF, FK, FP, FX, FE" name="companyCodeList">
			<input type="hidden" value="GA, GB, GF, GL, GP, GQ, GX, HH, HM, HR, LC, PF, PP, RB, CP, FB, FF, FK, FP, FX, FE" name="companyCodeListAdults">
			<input type="hidden" value="" name="destType">
			<input type="hidden" value="" name="boardBasisList">
			<input type="hidden" value="" name="boardBasis">
			<input type="hidden" value="700" name="results">
			<input type="hidden" value="True" name="XDBookingDialogue">
			<input type="hidden" value="CP" name="sortOrder">
			<input type="hidden" value="SUN" name="mode">
			<input type="hidden" value="" name="brochureCode">
			<input type="hidden" value="" name="departureAirportSelected">
			<input type="hidden" value="" name="durationSelected">
			<input type="hidden" value="" name="destinationSelected">
			<input type="hidden" value="" name="resortSelected">
			<input type="hidden" value="" name="selectedDepartureAirport">
			<input type="hidden" value="" name="departureAirportCode">
			<input type="hidden" value="" name="selectedDestination">
			<input type="hidden" value="false" name="changeReRunSearch">
			<input type="hidden" value="" name="selectedDurationValue">
			<input type="hidden" value="" name="selectedResort">
			<input type="hidden" value="" name="selectedAccommodation">
			<input type="hidden" value="True" name="durationISULoad">
			<input type="hidden" value="" name="jsEnabled">
			<input type="hidden" value="mainSearch" name="searchPageName">
			<input type="hidden" value="fcsun" name="selectedSearchPanelTab">
			<input type="hidden" value="" name="locationCode">
			<input type="hidden" value="/fcsun/page/common/search/freetextsearchpanel.page" name="pageUrl">
			<input type="hidden" value="" name="day">
			<input type="hidden" value="" name="monthYear">
			<input type="hidden" value="06/02/2012-10/31/2013" name="availability">
			<input type="hidden" value="7" name="departureMargin">
			<input type="hidden" value=""  name="destinationType">
			<input type="hidden" value=""  name="destinationCode">
			<input type="hidden" value=""  name="resortCode">
			<input type="hidden" value=""  name="accommodationCode">
			<input type="hidden" value="0" name="accommodationType">
			<input type="hidden" value="0" name="rating">
			<input type="hidden" value="" name="selectedAccommodationAttributes[0]">
			<input type="hidden" value="" name="selectedAccommodationAttributes[1]">
			<input type="hidden" value="" name="selectedAccommodationAttributes[2]">
			<input type="hidden" value="" name="selectedAccommodationAttributes[3]">
			<input type="hidden" value="" name="selectedAccommodationAttributes[4]">
			<input type="hidden" value="" name="selectedAccommodationAttributes[5]">
			<input type="hidden" value="" name="selectedAccommodationAttributes[6]">
			<input type="hidden" value="" name="selectedAccommodationAttributes[7]">
			<input type="hidden" value="0" name="accommFeaturesBitValue">
			<input type="hidden" value="1" name="numberOfRooms">
			<!-- room 1 -->
			<input type="hidden" value="" name="totalSeniorsInRoom" class="room1-group room1-totalSeniorsInRoom">
			<input type="hidden" value="0" name="totalChildrenInRoom" class="room1-group room1-totalChildrenInRoom">
			<input type="hidden" value="" name="totalInfantsInRoom" class="room1-group room1-totalInfantsInRoom">
			<input type="hidden" value="" name="childrenAges" class="room1-group room1-childrenAges1">
			<input type="hidden" value="" name="childrenAges" class="room1-group room1-childrenAges2">
			<input type="hidden" value="" name="childrenAges" class="room1-group room1-childrenAges3">
			<input type="hidden" value="" name="childrenAges" class="room1-group room1-childrenAges4">
			<input type="hidden" value="" name="childrenAges" class="room1-group room1-childrenAges5">
			<input type="hidden" value="" name="childrenAges" class="room1-group room1-childrenAges6">
			<input type="hidden" value="" name="childrenAges" class="room1-group room1-childrenAges7">
			<input type="hidden" value="" name="childrenAges" class="room1-group room1-childrenAges8">
			<input type="hidden" value="" name="ages" class="room1-group room1-ages1">
			<input type="hidden" value="" name="ages" class="room1-group room1-ages2">
			<input type="hidden" value="" name="ages" class="room1-group room1-ages3">
			<input type="hidden" value="" name="ages" class="room1-group room1-ages4">
			<input type="hidden" value="" name="ages" class="room1-group room1-ages5">
			<input type="hidden" value="" name="ages" class="room1-group room1-ages6">
			<input type="hidden" value="" name="ages" class="room1-group room1-ages7">
			<input type="hidden" value="" name="ages" class="room1-group room1-ages8">
			<!-- room 2 -->
			<input type="hidden" value="" name="totalSeniorsInRoom" class="room2-group room2-totalSeniorsInRoom">
			<input type="hidden" value="0" name="totalChildrenInRoom" class="room2-group room2-totalChildrenInRoom">
			<input type="hidden" value="" name="totalInfantsInRoom"  class="room2-group room2-totalInfantsInRoom">
			<input type="hidden" value="" name="childrenAges" class="room2-group room2-childrenAges1">
			<input type="hidden" value="" name="childrenAges" class="room2-group room2-childrenAges2">
			<input type="hidden" value="" name="childrenAges" class="room2-group room2-childrenAges3">
			<input type="hidden" value="" name="childrenAges" class="room2-group room2-childrenAges4">
			<input type="hidden" value="" name="childrenAges" class="room2-group room2-childrenAges5">
			<input type="hidden" value="" name="childrenAges" class="room2-group room2-childrenAges6">
			<input type="hidden" value="" name="childrenAges" class="room2-group room2-childrenAges7">
			<input type="hidden" value="" name="childrenAges" class="room2-group room2-childrenAges8">
			<input type="hidden" value="" name="ages" class="room2-group room2-ages1">
			<input type="hidden" value="" name="ages" class="room2-group room2-ages2">
			<input type="hidden" value="" name="ages" class="room2-group room2-ages3">
			<input type="hidden" value="" name="ages" class="room2-group room2-ages4">
			<input type="hidden" value="" name="ages" class="room2-group room2-ages5">
			<input type="hidden" value="" name="ages" class="room2-group room2-ages6">
			<input type="hidden" value="" name="ages" class="room2-group room2-ages7">
			<input type="hidden" value="" name="ages" class="room1-group room2-ages8">
			<!-- room 3 -->
			<input type="hidden" value="" name="totalSeniorsInRoom"  class="room3-group room3-totalSeniorsInRoom">
			<input type="hidden" value="0" name="totalChildrenInRoom"  class="room3-group room3-totalChildrenInRoom">
			<input type="hidden" value="" name="totalInfantsInRoom"  class="room3-group room3-totalInfantsInRoom">
			
			<input type="hidden" value="" name="childrenAges" class="room3-group room3-childrenAges1">
			<input type="hidden" value="" name="childrenAges" class="room3-group room3-childrenAges2">
			<input type="hidden" value="" name="childrenAges" class="room3-group room3-childrenAges3">
			<input type="hidden" value="" name="childrenAges" class="room3-group room3-childrenAges4">
			<input type="hidden" value="" name="childrenAges" class="room3-group room3-childrenAges5">
			<input type="hidden" value="" name="childrenAges" class="room3-group room3-childrenAges6">
			<input type="hidden" value="" name="childrenAges" class="room3-group room3-childrenAges7">
			<input type="hidden" value="" name="childrenAges" class="room3-group room3-childrenAges8">
			
			<input type="hidden" value="" name="ages" class="room3-group room3-ages1">
			<input type="hidden" value="" name="ages" class="room3-group room3-ages2">
			<input type="hidden" value="" name="ages" class="room3-group room3-ages3">
			<input type="hidden" value="" name="ages" class="room3-group room3-ages4">
			<input type="hidden" value="" name="ages" class="room3-group room3-ages5">
			<input type="hidden" value="" name="ages" class="room3-group room3-ages6">
			<input type="hidden" value="" name="ages" class="room3-group room3-ages7">
			<input type="hidden" value="" name="ages" class="room3-group room3-ages8">
			
			<!-- room 4 -->
			<input type="hidden" value="" name="totalSeniorsInRoom" class="room4-group room4-totalSeniorsInRoom">
			<input type="hidden" value="0" name="totalChildrenInRoom" class="room4-group room4-totalChildrenInRoom">
			<input type="hidden" value="" name="totalInfantsInRoom" class="room4-group room4-totalInfantsInRoom">
			<input type="hidden" value="" name="childrenAges" class="room4-group room4-childrenAges1">
			<input type="hidden" value="" name="childrenAges" class="room4-group room4-childrenAges2">
			<input type="hidden" value="" name="childrenAges" class="room4-group room4-childrenAges3">
			<input type="hidden" value="" name="childrenAges" class="room4-group room4-childrenAges4">
			<input type="hidden" value="" name="childrenAges" class="room4-group room4-childrenAges5">
			<input type="hidden" value="" name="childrenAges" class="room4-group room4-childrenAges6">
			<input type="hidden" value="" name="childrenAges" class="room4-group room4-childrenAges7">
			<input type="hidden" value="" name="childrenAges" class="room4-group room4-childrenAges8">
			
			<input type="hidden" value="" name="ages" class="room4-group room4-ages1">
			<input type="hidden" value="" name="ages" class="room4-group room4-ages2">
			<input type="hidden" value="" name="ages" class="room4-group room4-ages3">
			<input type="hidden" value="" name="ages" class="room4-group room4-ages4">
			<input type="hidden" value="" name="ages" class="room4-group room4-ages5">
			<input type="hidden" value="" name="ages" class="room4-group room4-ages6">
			<input type="hidden" value="" name="ages" class="room4-group room4-ages7">
			<input type="hidden" value="" name="ages" class="room4-group room4-ages8">
			
			<!-- room 5 -->
			<input type="hidden" value="" name="totalSeniorsInRoom" class="room5-group room5-totalSeniorsInRoom">
			<input type="hidden" value="0" name="totalChildrenInRoom" class="room5-group room5-totalChildrenInRoom">
			<input type="hidden" value="" name="totalInfantsInRoom" class="room5-group room5-totalInfantsInRoom">
			<input type="hidden" value="" name="childrenAges" class="room5-group room5-childrenAges1">
			<input type="hidden" value="" name="childrenAges" class="room5-group room5-childrenAges2">
			<input type="hidden" value="" name="childrenAges" class="room5-group room5-childrenAges3">
			<input type="hidden" value="" name="childrenAges" class="room5-group room5-childrenAges4">
			<input type="hidden" value="" name="childrenAges" class="room5-group room5-childrenAges5">
			<input type="hidden" value="" name="childrenAges" class="room5-group room5-childrenAges6">
			<input type="hidden" value="" name="childrenAges" class="room5-group room5-childrenAges7">
			<input type="hidden" value="" name="childrenAges" class="room5-group room5-childrenAges8">
			
			<input type="hidden" value="" name="ages" class="room5-group room5-ages1">
			<input type="hidden" value="" name="ages" class="room5-group room5-ages2">
			<input type="hidden" value="" name="ages" class="room5-group room5-ages3">
			<input type="hidden" value="" name="ages" class="room5-group room5-ages4">
			<input type="hidden" value="" name="ages" class="room5-group room5-ages5">
			<input type="hidden" value="" name="ages" class="room5-group room5-ages6">
			<input type="hidden" value="" name="ages" class="room5-group room5-ages7">
			<input type="hidden" value="" name="ages" class="room5-group room5-ages8">
			
			<input type="hidden" value="276" name="submit.x">
			<input type="hidden" value="1111" name="submit.y">
			<input type="hidden" value="6" name="numRemSearch">



		<h3 class="underline">Golden Donaire Beach Hotel</h3>
		<div class="underline clearfix">
			<div class="col pad">
				<label class="icon" for="">When?</label>
				<input type="text" data-dojo-type="tui.widget.search.SearchDatePicker" placeholder="Select a date" data-dojo-props="seasonEndDate:&quot;{{seasonEndDate}}&quot;" class="textfield small" name="datewhen" value="{{whenDate}}">
			</div>
			<div class="col">
				<label for="">Duration</label>
				<select data-dojo-type="tui.widget.form.SelectOption" class="dropdown cw1" id="cpduration" name="">
					<option selected="" value="7/w">1 week</option>
					<option value="14/w">2 week</option>
					<option value="3/n">3 nights</option>
					<option value="4/n">4 nights</option>
					<option value="7/n">7 nights</option>
					<option value="9/n">9 nights</option>
					<option value="10/n">10 nights</option>
					<option value="11/n">11 nights</option>
					<option value="12/n">12 nights</option>
					<option value="14/n">14 nights</option>
					<option value="21/n">21 nights</option>
					<option value="28/n">28 nights</option>
				</select>
			</div>
			<div class="col pad">
				<label class="icon" for="">Where From?</label>
				<select data-dojo-type="tui.widget.form.SelectOption" class="dropdown" id="cpfrom" name="">
					<option selected="" value="LDN">Any London</option>
					<option selected="" value="LTN">London Luton</option>
				</select>
			</div>
			
			<div class="col">
				<label for="">Board basis</label>
				<select data-dojo-type="tui.widget.form.SelectOption" class="dropdown cw1" id="cpboardbasis" name="">
					<option selected="" value="01">Half board</option>
					<option selected="" value="02">Full board</option>
					<option selected="" value="03">All inclusive</option>
				</select>
			</div>
		</div>
		<div class="rooms underline">
			<div class="labels">
				<span class="indent">Adults</span>
				<span>Children (0-17)</span>
			</div>
			<div class="item">
				<span class="bump">Room 1</span>
				<span>
					<select  id="cpsearch-adults" name="cptotalAdultsInRoom" class="dropdown" data-dojo-type="tui.widget.form.SelectOption">
						<option value="1">1</option>
						<option selected value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
					</select> </span>
				<span>
					<select id="cpsearch-children" name="cpsearch-children" class="dropdown child" data-dojo-type="tui.widget.search.ChildrenSelectOption">
						<option selected value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
					</select> </span>
				<p>
					<p><a style="display: none" data-dojo-type="tui.widget.search.SearchChildPopup" data-dojo-props="numberOfRooms:1, roomId:'room1'" href="#">Edit ages</a></p>
				</p>
			</div>
			<p class="search-add-room">
				<a href="">+ Add a room</a>
			</p>
		</div>
		<div class="floater">
			<p class="fl mt8 uppercase">
				<a href="#" class="close no-icon">Cancel</a>
			</p>
			<input type="submit" value="Check Availability" class="button large fr" />
		</div>
	</form>
	</div>
</div>