						<div class="">
									<div class="copy">
										<div class="cruise-name">{{jsonData.packageViewData.cruiseViewData.name|default:"" }}</div>
										<div class="ship-name">{{jsonData.packageViewData.cruiseViewData.shipViewData.name|default:"" }}</div>
										<div class="cruise-duration">{{jsonData.packageViewData.cruiseViewData.duration|default:"" }} nights </div>
									</div>
									<ul class="item-list">
										
										<li>
											<span class="fl">Inside cabin</span>
											<span class="fr">Included</span>
											<div class="clear"></div>
										</li>
										<li>
											<span class="fl">Deck 3 &#124;&nbsp;4</span>
											<div class="clear"></div>
										</li>
										<li>
											<span class="fl">Full Board</span>
											<span class="fr">Included</span>
											<div class="clear"></div>
										</li>
									</ul>
								</div>
    
							