<div class="btm-dashed">
	<ul class="item-list">
	{% if bookingData.bookingHistory %}
		{% for deposits in bookingData.bookingHistory %}
			{% for deposit in deposits.paymentReferenceViewDatas %}
				{% if deposit.amountPaid.amount %}
				<li>
					<span class="history-head">{% if deposit.paymentType %}{{deposit.paymentType|default:"" }}{% endif %}</span>
					<span class="fl">{% if deposit.paymentDate %}{{deposit.paymentDate|default:"" }}{% endif %}</span>
					<span class="fr">{% if deposit.amountPaid.amount %}£{{deposit.amountPaid.amount|floatformat:2 }}{% endif %}</span>
					<div class="clear"></div>
				</li>
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% endif %}	
	</ul>
</div>

							
