<ul class="item-list">


{% for item in jsonData.packageViewData.priceBreakdownViewData %}

{% ifequal item.description "Online Discount" %}
    <li class="ondis-li">
    <span class="ondis-fl">{{item.description}}
        <span class="info-block"></span>
    </span>
    <span class="ondis-fr" id="onlinePrice">{{item.currencyAppendedPrice}}</span>
    </li>
    {% endifequal %}

  {% ifnotequal  item.description  "TOTAL PRICE"  %}
	{% ifnotequal  item.description "Online Discount" %}
    <li>
		<span class="fl">{{item.description}}</span>
		<span class="fr"  id="{{item.description|cut:" "}}">{{item.currencyAppendedPrice}}</span><div class="clear"></div>
	</li>
	{% endifnotequal %}
	{% endifnotequal %}

{% endfor %}
</ul>
