
<ul class="item-list">

	{% for roomtypeList in jsonData.packageViewData.availableAccommodationViewData.summaryRoomViewData%}
		<li>
			{% ifnotequal roomtypeList.description null %}<span class="fl">{{roomtypeList.description|default:""}}</span>
			{% if  roomtypeList.included %}
				<span class="fr">Included</span>
			{% else %}
				<span class="fr">{{roomtypeList.currencyAppendedPrice|default:""}}</span>
			{% endif %}
			<div class="clear"></div>
			{% endifnotequal %}
		</li>
	{% endfor %}

		<li><span class="fl">{{jsonData.packageViewData.availableAccommodationViewData.boardBasisViewData.boardBasisName}}</span><div class="clear"></div></li>


  {% for viewDatas in jsonData.packageViewData.extraFacilityCategoryViewData %}
    {% ifequal viewDatas.extraFacilityGroup "ACCOMMODATION" %}
      {% for numberOfLCDRooms in viewDatas.extraFacilityViewData %}
        <li>

           <span class="fl">
            {{numberOfLCDRooms.summaryDescription|safe}}
            </span>
            <span class="fr">
            {% ifequal numberOfLCDRooms.selection "Selectable" %}
             	{{ numberOfLCDRooms.currencyAppendedPrice|default:"" }}
          	{% else %}
	   			{{ numberOfLCDRooms.selection }}
           	{% endifequal %}
            </span>
          <div class="clear"></div>
        </li>
      {% endfor %}
    {% endifequal %}
  {% endfor %}

</ul>


