{% for filter in filters %}
{% if filter.id %}
<div class="item-content-section">
	{% if filter.name %}
     <div class="filter-title-text">
			<span class="head-text">
			{{filter.name}}
			</span>
        <span class="left-corner"></span>
    </div>
	{% endif %}
	<ul class="checks">
		{% for check in filter.values %}<li id="check_{{check.id}}">
            <span class="checkbox"
			      id="{{check.id}}"
			      data-dojo-type="tui.filterPanel.view.options.CruiseCheckBox"
			      data-dojo-props='filterType: "{{filter.filterType}}", filterId: "{{filter.id}}" {% if check.categoryCode %}, categoryCode: "{{check.categoryCode}}" {% endif %} {% if check.name %}, name: "{{check.name}}" {% endif %}'>
			<input type="checkbox"
			       id="field_{{check.id}}"
			       value="{{check.value}}"
			       class="check parent-check" {% if check.selected %} checked="{{check.selected}}" {% endif %}/>
			{% if check.name %}
			<label for="field_{{check.id}}">{{check.name|safe}} {% ifequal filter.id "cruiseStayDestinations" %}Stay option{% endifequal %} {% if check.noItineraries %} <span class="package-count">[{{check.noItineraries}}]</span> {% endif %}
                                            {% if check.tooltip %} <span class="question" data-dojo-type="tui.widget.popup.Tooltips" data-dojo-props="text:'{{check.tooltip|safe}}', floatWhere:'position-top-center'"></span> {% endif %}
            </label>
			{% endif %}
			</span>
			{% ifnotequal check.children.length 0 %}<ul>
				{% for subcheck in check.children %}<li id="subcheck_{{subcheck.id}}">
                    <span class="checkbox" id="{{subcheck.id}}"
					      data-dojo-type="tui.filterPanel.view.options.CruiseCheckBox"
					      data-dojo-props='filterType: "{{filter.filterType}}", filterId: "{{filter.id}}",  parentId : "{{check.id}}" {% if subcheck.categoryCode %}, categoryCode: "{{subcheck.categoryCode}}" {% endif %} {% if subcheck.name %}, name: "{{subcheck.name}}" {% endif %}'>
					<input type="checkbox"
					       id="field_{{subcheck.id}}"
					       value=""
					       class="check child-check" {% if subcheck.selected %} checked="{{subcheck.selected}}" {% endif
					%}/>
					<label for="field_{{subcheck.id}}">{{subcheck.name|safe}} {% if subcheck.noItineraries %}
						<span class="package-count">[{{subcheck.noItineraries}}]</span> {% endif %}</label>
					</span>
				</li>{% endfor %}
			</ul>{% endifnotequal%}
		</li>{% endfor %}
	</ul>
</div>
{% endif%}
{% endfor %}