<div class="guide airport">
	<span class="arrow"></span>
	<div class="floater">
		<h3 class="fl">Select an Airport</h3>
		<!--p class="notice fl">
			<span>Notice</span> We don't fly to the Maldives from all UK airports
		</p-->
		<p class="fr">
			<a href="#" class="close">Close<span class='icon-close icon sprite-img-grp-1'></span></a>
		</p>
	</div>
	
	<div class="col">
		<div class="group ag LN" data-dataid="*LN">
			<h4><a href="#">Any London</a></h4>
			<ul>
				<li><a href="#" data-dataid="LGW" class="LGW ag"  >London Gatwick</a></li>
				<li><a href="#" data-dataid="LTN" class="LTN ag"  >London Luton</a></li>
				<li><a href="#" data-dataid="STN" class="STN ag"  >London Stansted</a></li>
			</ul>
		</div>
		<div class="group ag MD" data-dataid="*MD">
			<h4><a href="#"> Any Midlands</a></h4>
			<ul>
				<li><a href="#" class="ag EMA" data-dataid="EMA"  >East Midlands</a></li>
				<li><a href="#" class="ag BHX" data-dataid="BHX"  >Birmingham</a></li>
			</ul>
		</div>
	</div>
	<div class="col">
		<div class="group ag NE" data-dataid="*NE">
			<h4><a href="#">Any North-East</a></h4>
			<ul>
				<li><a href="#" class="ag NCL" data-dataid="NCL"  >Newcastle</a></li>
				<li><a href="#" class="ag MME" data-dataid="MME"  >Durham Tees Valley</a></li>
				<li><a href="#" class="ag DSA" data-dataid="DSA"  >Doncaster Sheffield</a></li>
				<li><a href="#" class="ag LBA" data-dataid="LBA"  >Leeds Bradford</a></li>
			</ul>
		</div>
	</div>
	<div class="col">
		<div class="group ag NW" data-dataid="*NW">
			<h4><a href="#">Any North-West</a></h4>
			<ul>
				<li><a href="#" class="ag MAN" data-dataid="MAN"  >Manchester</a></li>
			</ul>
		</div>
		<div class="group ag NI" data-dataid="*NI">
			<h4><a href="#"> Any Northern Ireland</a></h4>
			<ul>
				<li><a href="#" class="ag BFS" data-dataid="BFS"  >Belfast International</a></li>
				<li><a href="#" class="ag LDY" data-dataid="LDY"  >City of Derry</a></li>
			</ul>
		</div>
	</div>
	<div class="col">
		<div class="group ag SC" data-dataid="*SC">
			<h4><a href="#"> Any Scotland</a></h4>
			<ul>
				<li><a href="#" class="ag ABZ" data-dataid="ABZ"  >Aberdeen</a></li>
				<li><a href="#" class="ag EDI" data-dataid="EDI"  >Edinburgh</a></li>
				<li><a href="#" class="ag GLA" data-dataid="GLA"  >Glasgow</a></li>
			</ul>
		</div>
	</div>
	<div class="col">
		<div class="group ag SE" data-dataid="*SE">
			<h4><a href="#">Any South-East</a></h4>
			<ul>
				<li><a href="#" class="ag LGW" data-dataid="LGW">London Gatwick</a></li>
				<li><a href="#" class="ag LTN" data-dataid="LTN">London Luton</a></li>
				<li><a href="#" class="ag STN" data-dataid="STN">London Stansted</a></li>
				<li><a href="#" class="ag NWI" data-dataid="NWI">Norwich</a></li>
			</ul>
		</div>
	</div>
	<div class="col">
		<div class="group ag SW" data-dataid="*SW">
			<h4><a href="#">Any South-West</a></h4>
			<ul>
				<li><a href="#" class="ag BOH" data-dataid="BOH">Bournemouth</a></li>
				<li><a href="#" class="ag BRS" data-dataid="BRS">Bristol</a></li>
				<li><a href="#" class="ag CWL" data-dataid="CWL">Cardiff</a></li>
				<li><a href="#" class="ag EXT" data-dataid="EXT">Exeter</a></li>
			</ul>
		</div>
	</div>
</div>