<div class="children" style="display:none">
		<h3 class="lowercase">Enter ages of children on return</h3>
		{% ifequal childrenTmplTotal.length 1 %}
		<p class="error">You need to enter the age of the child on return</p>
		{% else %}
		<p class="error">You need to enter the ages of the children on return</p>
		{% endifequal%}
		<ul>
			{% for items in childrenTmplTotal %}
			<li>
				<label>Child {{forloop.counter}}</label>
				<select name="ages" class="dropdown" data-dojo-type="tui.widget.form.SelectOption">
					<option value="-1" selected>-</option>
					<option value="0">0</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
				</select>
			</li>
			{% endfor %}
		</ul>
		<div class="floater">
			<p class="left"><a href="#" class="close no-icon">Cancel</a></p>
			<a href="#" class="button right ok">OK</a>
		</div>
</div>