<div>
{% for itinerary in itinerarys %}

	<div class="dealsGroupItem" data-totalCount="{{itinerary.count}}" data-airport="{{itinerary.outbound.arrivalAirportData.id}}" data-dojo-type="tui.widget.form.flights.DealsTitlePane" data-dojo-props="title: '{{itinerary.outbound.arrivalAirportData.name}} ({{itinerary.outbound.arrivalAirportData.id}}) in {{itinerary.outbound.arrivalAirportData.countryName}} - <span class=flightCount> {{itinerary.count}}  {% ifequal itinerary.count 1 %} flight {% else %} flights {% endifequal %} </span>', secondTitle: '<span class=returnfrom>{% if oneWay %} One way from{% else %}Return from{% endif %}:</span> <span class=ppCurrency>{{currency}}{{itinerary.pricePP}}</span><span class=ppStyle>pp</span>', open: false, parseOnLoad:false">
		<div class="loadingDivCnt loading deals"></div>
		<script type="dojo/on" data-dojo-event="click" data-dojo-args="e">
        	var registry = require("dijit/registry");
			if(dojo.hasClass(e.target,"pageDijitItem")) return;
			registry.byId("foDealsSearchResults").OnShowEvent(this,{{itinerary.count}},e);
    	</script>
	</div>
{% endfor %}
</div>
