<div id="deals-results" class="tui-theme">
	<div data-dojo-type="tui.widget.form.flights.DealsTitlePane" id="titlepane1" data-dojo-props="title: 'Sample Title Pane',secondTitle: 'Return from: &euro;&nbsp;245', open: false">
		<div id="flightresults" class="flightresults">
			<div class="dealsMainContent">
			            <div class="dealsResultCnt">
			                <div id="label"  class="label">
			                    From <b>Gatwick (LGW)</b> to <b>Puerto Plata (POP)</b> return to <b>Gatwick (LGW)</b>
			                </div>
			                <div class="outboundCnt">
			                    <div id="planedepartimage" class="planedepartimage"></div>
			                    <div class="calinfo">
			                        <ul>
			                            <li class="callabel"><span class="cal">Wed 01 Oct 2014</span></li>
			                            <li class="timelabel"><span class="time">7:55 > 23:25</span></li>
			                        </ul>

			                    </div>
			                </div>

			                <div class="inboundCnt">
			                    <div id="planearriveimage" class="planearriveimage"></div>
			                    <div class="calinfo">
			                        <ul>
			                            <li class="callabel"><span class="cal">Wed 01 Oct 2014</span></li>
			                            <li class="timelabel"><span class="time">7:55 > 23:25</span></li>
			                        </ul>

			                    </div>
			                </div>
			            </div>
			            <div class="dealsDaysCnt">
			                <div class="dayslabel">
			                    <span class="day">14 </span>
			                    <span class="nightslabel">NIGHTS</span>
			                </div>
			            </div>

			            <div class="dealsSeatsCnt">
			             <p class="seatslabel" ><b>HURRY, ONLY <br>4 SEATS LEFT!</b> </p>
			            </div>
			            <div class="dealsBtnCnt">
			               <div class="pricebutton">
			                   <div class="pricelabel">
			                   <div class="price">1234</div>
			                   <div class="perpersonlabel">return per person</div>
			                    </div>
			                </div>
			            </div>
					</div>
		</div>
	</div>
</div>