<div>
	<h3>PLEASE SELECT ONE OR MORE DESTINATIONS</h3>
		<span class="anyAirport">
	<span data-dojo-type="dijit.form.CheckBox" class="anyOSAirport" id="anyOSAirport" value="anyOSAirport"
		{% if dealsPanelModel.gotoAllAirports %}
		 	checked=checked
		{% endif %}
	> </span>
	<label for="anyOSAirport" class="labelHover">ANY DESTINATION</label>
	</span>
	<div class="horizantal-line"></div>
	<div class="col">
        <ul>
        	 {% for airport in overseasAirportslist %}
        	   <li>
        	 		{% ifequal airport.cFlag true%}
             			<span class="grpHeading">
             				<span data-dojo-type="dijit.form.CheckBox" data-countryCode="{{airport.countryCode}}" class="{{ airport.countryCode}}" id="{{ airport.countryCodeLabel}}" value="{{ airport.countryName }}"
             				  {% for toAirport in dealsPanelModel.toAirportGpName %}
                         			{% ifequal toAirport airport.countryName %}
                         		  		checked=checked
                         			{% endifequal %}
                    		{% endfor %}

             				></span>
             				<label for="{{airport.countryCodeLabel}}" class="labelHover
             				{% for toAirport in dealsPanelModel.toAirportGpName %}
	                     	{% ifequal toAirport airport.countryName %}selected {% endifequal %}
                    	 {% endfor %}">{{ airport.countryName }}</label>
             			</span>
             		{% endifequal %}
             			<span class="childCountry">
                    	 <span type="radio"
                    	 data-dojo-type="dijit.form.CheckBox"
                         data-airportmodel-id="{{airport.id}}"
                         data-airportmodel-name="{{airport.name}}"
                         data-airportmodel-groups="{{airport.group}}"
                         data-airportmodel-countryCode="{{airport.countryCode}}"
                         name="{{airport.id}}"
                         id="{{airport.ids}}"
                         value="{{airport.id}}"
                         title="{{airport.name}}"
                         class="{{airport.id}} {{ airport.countryCode}}"
                         {% if not airport.available %} disabled {% endif %}
                         {% for toAirport in dealsPanelModel.toAirports %}
                         	{% if toAirport.length > 0 %}
                         		{% ifequal toAirport airport.id %}
                         		  checked=checked
                         		{% endifequal %}
                        	{% endif %}
                    	{% endfor %}
                         > </span>
                  	<label for="{{airport.ids}}" class="{% if not airport.available %}disabled {% endif %} labelHover
                  	 {% for toAirport in dealsPanelModel.toAirports %}
                        {% if toAirport.length > 0 %}
                            	{% ifequal toAirport airport.id %}selected {% endifequal %}
                        {% endif %}
                    {% endfor %}
                  	"> {{airport.name}} ({{airport.id}})</label>
                    </span>
               </li>

            {% ifequal airport.nextCol true %}
            {% if not forloop.last %}
           </ul>
         </div>
         <div class="col overseas">
          <ul>
  			 {% endif %}
        	   {% endifequal %}
         {% endfor %}
          </ul>
        </div>

</div>

