<div>
    <div class="title-bar">
        <h3>SELECT A PERIOD</h3>
    </div>
    <div class="content tui-theme">

        <span class="select-duration">
		<span data-dojo-type="dijit.form.RadioButton" class="radio" id="radioOne" value="Within 7 days"> </span>
        <label for="radioOne" class="per-radio labelHover">Within 7 days</label>
        </span>
        <span class="select-duration">
		<span data-dojo-type="dijit.form.RadioButton" class="radio" id="radioTwo" value="Within 2 weeks"> </span>
        <label for="radioTwo" class="per-radio labelHover">Within 2 weeks</label>
        </span>
        <span class="select-duration">
		<span data-dojo-type="dijit.form.RadioButton" class="radio" id="radioThree" value="Within 6 weeks"> </span>
        <label for="radioThree" class="per-radio labelHover">Within 6 weeks</label>
        </span>
        <span class="select-duration">
		<span data-dojo-type="dijit.form.RadioButton" class="radio" id="radioFour" value="Within 3 months"> </span>
        <label for="radioFour" class="per-radio labelHover">Within 3 months</label>
        </span>
        <div class="horizantal-line"></div>
    </div>
    <div class="content2 tui-theme">
        <div class="title-bar">
            <h3>OR SELECT A MONTH</h3>
        </div>
        <div class="flexible">
            <select id="monthSelect" name="monthSelect" class="dropdown totalAdults" tabindex="0" data-dojo-type="tui.widget.form.SelectOption">
                <option> </option>
            </select>
            <span class="oneWay-Checkbox">
		<span data-dojo-type="dijit.form.CheckBox"  id="flexible"> </span>
            <label for="flexible" class="labelHover">Flexible by +/- 1 month</label>
            </span>
        </div>
    </div>
</div>
</div>