<div class="no-results-found stay">
		<div class="header" style="height: 218px;background: url('../../images/cruise/header-bg-img-noresults.jpg') no-repeat scroll left top rgba(0, 0, 0, 0);">
            <div class="notice" style="top: 30px;left: 0;padding: 10px 24px 5px;width: 450px;">
                <h1 class="highlight-alt">Oh no...</h1>
                <p style="font-size:18.5px;color:#333; max-width: 450px;">We couldn't find any matching cruise holidays... sorry!</p>
				<p style="font-size:12.5px; max-width: 450px;">Please see the options below for alternatvies for your search.<br/>Otherwise please try searching again.</p>
                 <!--<ul>
                    <li class="airport-list">Use our <a href="javascript:void(0);" class="airport-list-link">Airport List</a> to search from alternate airports</li>
                    <li class="destination-list">Use our <a href="javascript:void(0);" class="destination-list-link">Destination List</a> to search for alternate destinations</li>
                   <li class="change-date">Try <a href="javascript:void(0);" class="change-date-link">changing the date</a> to search different dates</li>
                </ul>-->
            </div>
		</div>
		<div class="options">
            <h2 style="text-transform:uppercase;font-size: 23px;margin-bottom: 2px;">Treasures of the Mediterranean</h2>
			<p style="text-transform:uppercase;font-size: 14.5px;">7 Night Cruises</p>
            <ul class="js-widened-criteria">

   <li class="when" style="background:#F6FAFD;">
	<div class="title" style="background: url('../../images/cruise/cruise-searchIcons-sprite.png') no-repeat scroll 14px -2088px #E9F2F9;">
		<p style="font-size:12.5px;margin: 12px 0 0;text-transform:uppercase;">Change<br> <span style="font-weight:bold;color:#889EB3;">Departure <br/>Airport/Port</span></p>
	</div>
	<div class="details">
		<div class="from-to" style=" width: 265px; margin-top: 8px;">
			<span class="from uc" style="width:100px;background:none;padding-left:0px;text-align: center;font-weight: bold;">Any UK<br/>Airport/Port</span>
			<span class="to" style="width:165px;background:none;padding-left:10px;font-size:10.5px;" >Western Med<br/>Eastern Med</br/>Treasures of the Mediterranean</span>
		</div>
		<div class="date" style="width:85px;font-size: 10.5px;">
			<span class="day">June 2014</span>
			<!--<span class="flex"><strong>Flexible by +/- 10 days</strong></span>-->			
		</div>
		<div class="duration" style="width:150px;">
			<span class="cruise" style="dispaly:block;">7 nights cruise</span>
			<span class="stay" style="dispaly:block;">4 nights stay</span>	
		</div>
		<div class="cta-container">
			<a href="javascript:void(0);" class="button cta jumbo">Show Results</a>
		</div>
	</div>
</li>

<li class="where"  style="background:#F6FAFD;">
	<div class="title" style="background: url('../../images/cruise/cruise-searchIcons-sprite.png') no-repeat scroll 13px -2204px #E9F2F9;">
		<p style="font-size:12.5px;margin: 12px 0 0;text-transform:uppercase;">Change<br> <span style="font-weight:bold;color:#889EB3;">Cruise<br/>Destination</span></p>
	</div>
	<div class="details uc">
		<div class="from-to">
			<span class="from">London Gatwick</span>
			<span class="to"><strong>Any Short Haul Country</strong></span>
		</div>
		<div class="date">
			<span class="day">Thursday 08 May 2014</span>
			
			<span class="flex">Flexible by +/- 10 days</span>
			
		</div>
		<div class="cta-container">
			<a href="javascript:void(0);" class="button cta jumbo">Show Results</a>
		</div>
	</div>
</li><li class="from"  style="background:#F6FAFD;">
	<div class="title" style="background: url('../../images/cruise/cruise-searchIcons-sprite.png') no-repeat scroll 13px -1866px #E9F2F9;">
		<p style="font-size:12.5px;margin: 12px 0 0;text-transform:uppercase;">Change<br> <span style="font-weight:bold;color:#889EB3;">Departure <br/>Date</span></p>
	</div>
	<div class="details uc">
		<div class="from-to">
			<span class="from"><strong>Any UK airport</strong></span>
			<span class="to">Italy</span>
		</div>
		<div class="date">
			<span class="day">Thursday 08 May 2014</span>
			
			<span class="flex">Flexible by +/- 10 days</span>
			
		</div>
		<div class="cta-container">
			<a href="javascript:void(0);" class="button cta jumbo">Show Results</a>
		</div>
	</div>
	</li>
	<li class="from duration"  style="background:#F6FAFD;">
	<div class="title" style="background: url('../../images/cruise/cruise-searchIcons-sprite.png') no-repeat scroll 13px -1763px #E9F2F9;">
		<p style="font-size:11.5px;margin: 12px 0 0;text-transform:uppercase;">Change<br> <span style="font-weight:bold;color:#889EB3;">Cruise <br/>Duration</span></p>
	</div>
	<div class="details uc">
		<div class="from-to">
			<span class="from"><strong>Any UK airport</strong></span>
			<span class="to">Italy</span>
		</div>
		<div class="date">
			<span class="day">Thursday 08 May 2014</span>
			
			<span class="flex">Flexible by +/- 10 days</span>
			
		</div>
		<div class="cta-container">
			<a href="javascript:void(0);" class="button cta jumbo">Show Results</a>
		</div>
	</div>
	</li>
</ul>
            <div class="mask-interactivity"></div>
		</div>
	</div>