<div class="tempClass">
    <div class="item-content flights-details-section">
        <div class="flights-section">

            <div>
            <div class="flight-details first  {% ifequal inboundFlag false %} imgNone {% endifequal %}">
            {% ifequal inboundFlag true %}

                <div class="outbound dashedBorder">
                    <h6>OUTBOUND</h6>
                </div>
                {% else %}
                 <div class="oneWay dashedBorder">
                    <h6>ONE-WAY</h6>
                </div>
                {% endifequal %}

                <div class="clear"></div>


                {% for outboundVar in flightViewData.outboundSectors %}
                {% ifequal inboundFlag true %}
                <div class="hotel-flight mb15px overflowHidden">
                    <div class="boarding-place fl">
                        <h5 class="hotel-name">
                            <p>{{outboundVar.departureAirport.name|default:" "}}&nbsp;({{outboundVar.departureAirport.code|default:" "}})</p>
                        </h5>

                    </div>

                    <div class="place-name fl">
                        <p>going to</p>
                    </div>

                    <div class="boarding-place fl">
                        <h5 class="hotel-name">
                            <p> {{outboundVar.arrivalAirport.name|default:" "}}&nbsp;({{outboundVar.arrivalAirport.code|default:" "}}) </p>
                        </h5>
                    </div>
                </div>
                {% else %}
                  <div class="oneWayWidth">    <span class="airportName">
                          {{outboundVar.departureAirport.name|default:" "}}&nbsp;({{outboundVar.departureAirport.code|default:" "}})
                          </span>
                    <span class="goingtoOnway">
                        going to
                   </span>
                    <span class="airportName">
                          {{outboundVar.arrivalAirport.name|default:" "}}&nbsp;({{outboundVar.arrivalAirport.code|default:" "}})
                        </span>
                </div>
                {% endifequal %}
                <div class="clear"></div>
          {% if outboundVar.eqmtDescription %}
                <div class="dreamliner">
                <h6>
                787 Dreamliner Flight
                </h6>
                </div>
                {% endif %}
                <div class="itinerary-dates">
                    <h6>
                        {{outboundVar.schedule.departureDate|default:" "}}
                    </h6>
                </div>
                <div class="itinerary-time">
                    <h6>
                        {{outboundVar.schedule.depTime|default:" "}} <span
                            class="itinerary-arrival-time">{{outboundVar.schedule.arrTime|default:" "}}</span> <!-- {{outboundVar.jnrDuration}} -->

                        {% ifnotequal  outboundVar.schedule.flightOffsetDays 0 %}

                         <span class="plusDayLeft">
                            <span class="addedDay">+1 Day</span>
                            <span data-dojo-props="floatWhere:'position-top-center', text:'{{jsonData.packageViewData.summaryPanelStaticContentViewData.summaryContentMap.Alt_Plus1Day_ToolTip|default:\' \'}}'" data-dojo-type="tui.widget.popup.Tooltips" class="question-book loaded"></span>
                        </span>

                        {% else %}
                        {% ifnotequal  flightViewData.inboundSectors[{{forloop.counter0}}].schedule.flightOffsetDays 0 %}
                        <span class="plusDay">
                            <span class="addedDay">&nbsp;</span>

                        </span>
                        {% endifnotequal %}
                        {% endifnotequal %}
                     <div class="clear"></div>
                    </h6>
                </div>
               <div class="logo{{outboundVar.carrierCode|cut:' '|default:\' \'}}"><span class="logo-text"></span>
              {% ifequal outboundVar.eqmtDescription "DREAMLINEAR787" %}

                        <div class="dreamlinear-logo"></div>
                 {% endifequal %}

                </div>

                {% endfor %}
                </div>

            </div>
{% if inboundFlag %}

         <div class="flight-details last">
                <div class="inbound dashedBorder">
                    <h6>INBOUND</h6>
                </div>
                <div class="clear"></div>
                {% for inboundVar in flightViewData.inboundSectors %}
                <div class="hotel-flight mb15px overflowHidden">
                    <div class="boarding-place fl">
                        <h5 class="hotel-name">
                            <p>{{inboundVar.departureAirport.name|default:" "}}&nbsp;({{inboundVar.departureAirport.code|default:" "}})</p>
                        </h5>
                    </div>

                    <div class="place-name fl">
                        <p>going to</p>
                    </div>

                    <div class="boarding-place fl">
                        <h5 class="hotel-name">
                            <p>{{inboundVar.arrivalAirport.name|default:" "}}&nbsp;({{inboundVar.arrivalAirport.code|default:" "}})</p>
                        </h5>
                    </div>
                </div>
                <div class="clear"></div>
             {% if inboundVar.eqmtDescription %}
                <div class="dreamliner">
                <h6>
                787 Dreamliner Flight
                </h6>
                </div>
                {% endif %}

                <div class="itinerary-dates">
                    <h6>
                        {{inboundVar.schedule.departureDate|default:" "}}
                    </h6>
                </div>
                <div class="itinerary-time">
                    <h6>
                        {{inboundVar.schedule.depTime|default:" "}} <span
                            class="itinerary-arrival-time">{{inboundVar.schedule.arrTime|default:" "}}</span> <!--{{inboundVar.jnrDuration}} -->
                        {% ifnotequal  inboundVar.schedule.flightOffsetDays 0 %}

                        <span class="plusDay">
                            <span class="addedDay">+1 Day</span>
                            <span data-dojo-props="floatWhere:'position-top-center', text:'{{jsonData.packageViewData.summaryPanelStaticContentViewData.summaryContentMap.Alt_Plus1Day_ToolTip|default:\' \'}}'" data-dojo-type="tui.widget.popup.Tooltips" class="question-book loaded"></span>
                        </span>
                        {% else %}


                        {% ifnotequal  flightViewData.outboundSectors[{{forloop.counter0}}].schedule.flightOffsetDays 0 %}

                        <span  class="plusDay">
                            <span class="addedDay">&nbsp;</span>

                        </span>

                        {% endifnotequal %}

                        {% endifnotequal %}

 <div class="clear"></div>
                    </h6>
                </div>
                <div class="logo{{inboundVar.carrierCode}}"><span class="logo-text">Other Carrier</span>

                {% ifequal inboundVar.eqmtDescription "DREAMLINEAR787" %}

                <div class="dreamlinear-logo"></div>
                {% endifequal %}
                </div>

                {% endfor %}




            </div>
            {% endif %}

            <div class="clear"></div>
            <!-- 			<div class="details-flight-section" > -->
            <!-- 				<div class="thomson-logo"></div> -->
            <!-- 				{% for seatExtra in jsonData.extraFacilityViewDataContainer.seatOptions.extraFacilityViewData %}

            <!-- 						<div class="premiumseats"> -->
            <!-- 							<h5>{{seatExtra.description}} available</h5> -->
            <!-- 						</div> -->


            <!-- 				{% endfor %} -->
            <!-- 				<div class="inbound-thomson-logo"> -->
            <!-- 					<div class="thomson-logo"></div> -->
            <!-- 					<a id="changeFlights" href="javascript:void(0);">Change flights</a> -->
            <!-- 				</div> -->

            <!-- 			</div> -->


        </div>
    </div>
</div>
