<div class="popup media-popup ">
	<div class="floater">
		<a href="#" class="close right">Close</a>
	</div>



<!-- <div class="mapped" >
	<img src="http://maps.googleapis.com/maps/api/staticmap?center={{name}},{{capitalCity}}&zoom=15&size=1100x560&markers=color:orange|{{name}},{{capitalCity}}&sensor=false" alt="Map" />
	 {{City}} 
</div> -->
				

     			
			   
<!-- <div class="mapped" >
	<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3&amp;sensor=false&amp;client=gme-tuitravelplc&amp;channel=firstchoice.co.uk&amp;signature=6ZltQgioOjtS5IRijuIxnu5HS8U="></script>
     <div id="mapDiv">
		<div class="mapped" data-dojo-type="tui.widget.maps.LocationMapPopup" data-dojo-props='jsonData:"{{jsonData}} "'></div>				
	</div>			  
</div> -->


<!-- <iframe style="width:100%; height:509px;"  src="http://jquery-ui-map.googlecode.com/svn/trunk/demos/jquery-google-maps-basic-example.html"></iframe> -->

</div>