<div class="popup media-popup">
	<div class="floater">
		<a href="javascript:void(0)" class="close right">Close<span class="icon-close sprite-img-grp-1"></span></a>
	</div>
	<div class='bg-load'>
	<div class="container loading">
		<div class="large-carousel">
		 <div class="viewport">
 		    <ul class="product-list">
		      {% for galleryImage in jsonData.galleryImages %}
     		  <li style="float:left" {% if galleryImage.small.description %} data-location-name="{{galleryImage.small.description}}" {% endif %}><img src="{{galleryImage.xlarge.mainSrc}}"></li>
    		  {% endfor %}
    		  <div class="clear"></div>
    		</ul>
		 	<a class="prev-large" href="javascript:void(0)" style="display: block;">
				<span class="arrow"></span>
		    </a>
			<a class="next-large" href="javascript:void(0)" style="display: block;">
				<span class="arrow"></span>
			</a>
    		<p id="media-popup-caption" style="display:none;"></p>
		 </div>
		</div>
        {% ifnotequal jsonData.galleryImagesLength "1" %}
    	<div class="thumb-carousel">
    		<a class="prev" href="javascript:void(0)" style="display: block;">
				<span class="arrow"></span>
	   	    </a>
	    	<a class="next" href="javascript:void(0)" style="display: block;">
				<span class="arrow"></span>
			</a>
    	 	<div class="viewport">
    			<ul class="plist" style="left:0;">
    			{% for galleryImage in jsonData.galleryImages %}
     			 <li><a href="javascript:void(0)"><img idx=1 src="{{galleryImage.small.mainSrc}}" width="90" height="60" {% if galleryImage.small.description %} alt="{{galleryImage.small.description}}" data-location-name="{{galleryImage.small.description}}" {% endif %}></a></li>
    			{% endfor %}
    			<div class="clear"></div>
    			</ul>
    		</div>
    	</div>
        {% endifnotequal %}
	</div>
	</div>
	<p class="load">Loading</p>
</div>