<div id="tiny-search-box" class="tooltip searchpopup error position-bottom-center" style="left: {{elmX}}px;top: {{elmY}}px;position:absolute;background:#f7f8fa;height: 366px;">
	<div class="search-timetable-popup">
		<p style="color: #333 !important; font-size: 16.5px;">Returning When?</p>
		<div class="date-search-checkbox">
			<div>
				<input type="checkbox" id="flexible-date-search" /><label for="flexible-date-search">dates flexible?</label>
			</div>
			<div>
				<input type="checkbox" id="oneway-date-search" /><label for="oneway-date-search">one way only</label>
			</div>
			<div style="width:100%;padding-top:6px;">
				<div style="height:24px;width:54%;margin:0 auto;margin-top: 8px;" class="inputholders">
					<a href="javascript:void(0);" id="prevTinyPicker" title="Previous" class="date-prev arrow-main arrow-left arrow-left-link arrow-lrg ir disable-prev-months" style="left:-40px;top:2px;"></a>
					<input style="height:22px;border:none;outline:none;font-size: 11.5px;font-weight: bold;color: #666;" readonly id="season-len-input"/>
					<img id="pull-months" src="images/arrow_24.png" style="cursor:pointer;">
					<a href="javascript:void(0);" id="nextTinyPicker" title="Next" class="date-next arrow-main arrow-right arrow-right-link arrow-lrg ir" style="right:-40px;top:2px;"></a>
					<div id="season-len">
						<ul>
							{% for season in seasons%}
								<li data-cur-idx="{{season.curIdx}}" data-cur-mon="{{season.idx}}" data-cur-year="{{season.yr}}">{{season.month}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="search-tinydatepicker"></div>
		</div>
	</div>	
	<div class="search-timetable-popup search-lines">
		<p style="color: #333 !important; font-size: 16.5px;">How Many?</p>
		<div style="width: 183px !important;">
			<div style="position:relative;top:-6px;left:0px;font-size: 14.5px;color:#999;margin-right: 64px;display:inline-block;">ADULTS</div>
			<div style="height:24px;width:60px;display:inline-block;position:relative;" class="inputholders">
				<input style="height:22px;border:none;outline:none;font-size: 11.5px;font-weight: bold;color: #666;" readonly  id="cnt-adults" value="2"/>
				<img id="pull-adults" src="images/arrow_24.png" style="cursor:pointer;">
				<div id="adults-len">
					<ul>
						{% for cnt in adultArr %}
							<li>{{cnt}}</li>
						{% endfor %}
					<ul>
				</div>
			</div>
		</div>
		<div style="width: 184px !important;">
			<div style="position:relative;top:-6px;left:0px;font-size: 14.5px;color:#999;margin-right: 37px;display:inline-block;">CHILDREN<div class="child-question" style="margin-left:2px;"></div></div>
			<div style="height:24px;width:60px;display:inline-block;position:relative;left:-2px;" class="inputholders">
				<input style="height:22px;border:none;outline:none;" readonly  id="cnt-childs"/>
				<img id="pull-childs" src="images/arrow_24.png" style="cursor:pointer;">
				<div id="child-len">
					<ul>
						{% for cnt in childArr %}
							<li>{{cnt}}</li>
						{% endfor %}
					<ul>
				</div>
			</div>
		</div>
			<!--jagadeesh-->

		<div id="childAges">
			<div id ="age1" style="display:none;height:24px;width:60px;position:relative;left:-2px;" class="inputholders">
				<input style="height:22px;border:none;outline:none;" readonly id="cnt-childs1" class="input-child-ages"/>
				<img id="pull-childs1" src="images/arrow_24.png" style="cursor:pointer;" class="pull-child-ages">
				<div id="child-len1" class="childages-len">
					<ul>
						{% for cnt in  childAges%}
							<li>{{cnt}}</li>
						{% endfor %}
					<ul>
				</div>
			</div>
		
		
			<div id ="age2" style="display:none;height:24px;width:60px;position:relative;left:-2px;" class="inputholders">
				<input style="height:22px;border:none;outline:none;" readonly  id="cnt-childs2" class="input-child-ages"/>
				<img id="pull-childs2" src="images/arrow_24.png" style="cursor:pointer;" class="pull-child-ages">
				<div id="child-len2" class="childages-len">
					<ul>
						{% for cnt in childAges %}
							<li>{{cnt}}</li>
						{% endfor %}
					<ul>
				</div>
			</div>
		
		
			<div id ="age3" style="display:none;height:24px;width:60px;position:relative;left:-2px;" class="inputholders">
				<input style="height:22px;border:none;outline:none;" readonly  id="cnt-childs3" class="input-child-ages"/>
				<img id="pull-childs3" src="images/arrow_24.png" style="cursor:pointer;" class="pull-child-ages">
				<div id="child-len3" class="childages-len">
					<ul>
						{% for cnt in childAges %}
							<li>{{cnt}}</li>
						{% endfor %}
					<ul>
				</div>
			</div>
	
		
			<div id ="age4" style="display:none;height:24px;width:60px;position:relative;left:-2px;" class="inputholders">
				<input style="height:22px;border:none;outline:none;" readonly  id="cnt-childs4" class="input-child-ages"/>
				<img id="pull-childs4" src="images/arrow_24.png" style="cursor:pointer;" class="pull-child-ages">
				<div id="child-len4" class="childages-len">
					<ul>
						{% for cnt in childAges %}
							<li>{{cnt}}</li>
						{% endfor %}
					<ul>
				</div>
			</div>
		
		
			<div id ="age5" style="display:none;height:24px;width:60px;position:relative;left:-2px;" class="inputholders">
				<input style="height:22px;border:none;outline:none;" readonly  id="cnt-childs5" class="input-child-ages"/>
				<img id="pull-childs5" src="images/arrow_24.png" style="cursor:pointer;" class="pull-child-ages">
				<div id="child-len5" class="childages-len">
					<ul>
						{% for cnt in childAges %}
							<li>{{cnt}}</li>
						{% endfor %}
					<ul>
				</div>
			</div>
		
			<div id ="age6" style="display:none;height:24px;width:60px;position:relative;left:-2px;" class="inputholders">
				<input style="height:22px;border:none;outline:none;" readonly  id="cnt-childs6" class="input-child-ages"/>
				<img id="pull-childs6" src="images/arrow_24.png" style="cursor:pointer;" class="pull-child-ages">
				<div id="child-len6" class="childages-len">
					<ul>
						{% for cnt in childAges %}
							<li>{{cnt}}</li>
						{% endfor %}
					<ul>
				</div>
			</div>
			<div id ="age7" style="display:none;height:24px;width:60px;position:relative;left:-2px;" class="inputholders">
				<input style="height:22px;border:none;outline:none;" readonly  id="cnt-childs7" class="input-child-ages"/>
				<img id="pull-childs7" src="images/arrow_24.png" style="cursor:pointer;" class="pull-child-ages">
				<div id="child-len7" class="childages-len">
					<ul>
						{% for cnt in childAges %}
							<li>{{cnt}}</li>
						{% endfor %}
					<ul>
				</div>
			</div>
			<div id ="age8" style="display:none;height:24px;width:60px;position:relative;left:-2px;" class="inputholders">
				<input style="height:22px;border:none;outline:none;" readonly  id="cnt-childs8" class="input-child-ages"/>
				<img id="pull-childs8" src="images/arrow_24.png" style="cursor:pointer;" class="pull-child-ages">
				<div id="child-len8" class="childages-len">
					<ul>
						{% for cnt in childAges %}
							<li>{{cnt}}</li>
						{% endfor %}
					<ul>
				</div>
			</div>
	</div>

			<!--jagadeesh-->
		
		
		<div style="padding-left: 20px;">
			<input type="Submit" value="SEARCH" id="return-search-flights" class="button search-submit ensLinkTrack loaded">
		</div>		
	</div>

	<a href="javascript:void(0);" id="closeble-search-box" class="close close-hide" style="width:18px;position:relative;top:0px;right:-12px;background: url('images/Airport List Close.png') no-repeat 0 0 !important;"></a>

	<p style="clear:both;"></p>
	
	<span class="arrow"></span>
</div>