<div id="tiny-search-box" class="searchpopup error position-bottom-center">
	<div class="search-timetable-popup">
		<p class="popup-header">Returning when?</p>
		<div class="date-search-checkbox tui-theme">
			<!-- <div class="flexible">
				<span data-dojo-type="dijit.form.CheckBox" ></span>
				<label  class="tiny-search-label">dates flexible?</label>
			</div> -->
			<div class="oneway timetableOneWay">
				<span data-dojo-type="dijit.form.CheckBox"></span>
				<label class="tiny-search-label">One way only</label>
			</div>
			<div class="calender-return">
				<div class="month-dropDown">
					<div class="inputholders">
						<a href="javascript:void(0);" id="prevTinyPicker" title="Previous" class="date-prev month-arrow  mnth-left-arrow disable-prev-months"></a>
						<input  readonly id="season-len-input"/>
						<span id="pull-months"></span>
						<a href="javascript:void(0);" id="nextTinyPicker" title="Next" class="date-next month-arrow mnth-right-arrow"></a>
						<div id="season-len">
							<ul>
								{% for season in seasons%}
									<li data-cur-idx="{{season.curIdx}}" data-cur-mon="{{season.idx}}" data-cur-year="{{season.yr}}">{{season.month}}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				<div class="search-tinydatepicker"></div>
			</div>
		</div>
	</div>
	<div class="search-timetable-popup search-lines">
		<p class="popup-header">How many?</p>
		<div class="cal-column">
			<div class="sexTitle">ADULTS</div>
			 <select name="totalAdults1" class="dropdown timeTableAdultDropDown" tabindex="0"  data-dojo-type="tui.widget.form.SelectOption"  maxHeight="240">
                        {% for cnt in adultArr %}
								<option value="{{cnt}}" {% ifequal forloop.counter0  2 %} selected {%endifequal%}>{{cnt}}</option>
						{% endfor %}
               </select>
		</div>
		<div class="cal-column">
			<div class="sexTitle">CHILDREN</div>
			<select name="totalChilds1" class="dropdown totalChilds1" tabindex="0"  data-dojo-type="tui.widget.form.SelectOption" maxHeight="240">
                        {% for cnt in childArr %}
							<option value="{{cnt}}">{{cnt}}</option>
						{% endfor %}
               </select>
		</div>
		<!-- <div class="cal-column"></div> -->
		<div class="childage-label">

		  <div class="timetableChildPax" ></div>
		</div>
		<div class="tiny-searchBox-search">
			<input type="Submit" value="SEARCH" id="return-search-flights" class="button search-submit ensLinkTrack loaded">
		</div>
	</div>
	<a href="javascript:void(0);" id="closeble-search-box" class="close-hide"></a>
	<p style="clear:both;"></p>
	<span class="arrow-tiny-search"></span>
</div>