<div class="hotel-option-modal-window soccer-academy-overlay">

	<h2 class="socceracademy-overlay">{{jsonData.extraOptionsContentViewData.extraContentViewData.contentMap.football_academy_intro_displayName|default:" "}}
	<a class="close abs fr" href="javascript:void(0);">close</a>
	</h2>
	<div class="clear"></div>
	<div class="soccerAcademy-details">
		<div class="left-details">
			<div class="socceracademy-img">
				<img src="{{jsonData.extraOptionsContentViewData.extraContentViewData.contentMap.football_academy_intro_intro1_medium|default:\' \'}}" />
			</div>
			<div class="socceracademy-description">
				<p>{{jsonData.extraOptionsContentViewData.extraContentViewData.contentMap.football_academy_intro_intro1|default:" "|safe}}</p>
			</div>
		</div>
		<div class="right-details">
			<div class="duration-details">
			{% if soccerOptionsData.extrasToPassengerMapping %}
					<div class="selecting-section">
					{% for soccerAcademy in soccerOptionsData.extrasToPassengerMapping %}
							{% if soccerAcademy.passenger.age > 4 && soccerAcademy.passenger.age < 17 %}

								<div class="child-details" data-dojo-attach-point="soccerDiv{{soccerAcademy.passenger.identifier}}">
									<label class="age disBlock textBold">Child
										{{forloop.counter}} ({{soccerAcademy.passenger.age}} yrs)</label>
									<div class="package-selection-section">
										{% ifnotequal soccerOptionsData.extrasToPassengerMapping.length 0 %}
												{% ifequal soccerOptionsData.extrasToPassengerMapping.length 1 %}
													{% for extras in soccerAcademy.extras %}
														<input type="radio" id="soccer{{extras.code}}{{soccerAcademy.passenger.identifier}}1"
															name="soccer{{soccerAcademy.passenger.identifier}}" value={{extras.childPrice}}
															{%if extras.selected %}
																checked
															{% endif %} />
														<label for="soccer{{extras.code}}{{soccerAcademy.passenger.identifier}}1"><span
															for="soccer{{extras.code}}{{soccerAcademy.passenger.identifier}}1" class="pl20px mt10px">{{extras.description}}</span></label>
														<span class="fr price-package">{{extras.currencyAppendedPrice}}</span>
														<div class="clear"></div>
													{% endfor %}
													{% else %}
													<input type="radio" id="soccerNone{{soccerAcademy.passenger.identifier}}{{forloop.counter}}"
														name="soccer{{soccerAcademy.passenger.identifier}}" value="0" checked/>
													<label class="disBlock" for="soccerNone{{soccerAcademy.passenger.identifier}}{{forloop.counter}}"><span
														for="soccerNone{{soccerAcademy.passenger.identifier}}{{forloop.counter}}" class="pl20px mt10px">None</span></label>
													<div class="clear"></div>
													{% for extras in soccerAcademy.extras %}
														<input type="radio"
															id="soccer{{extras.code}}{{soccerAcademy.passenger.identifier}}{{forloop.counter}}"
															name="soccer{{soccerAcademy.passenger.identifier}}"
															value={{extras.childPrice}}
															{%if extras.selected %}
																checked
															{% endif %} />
														<label for="soccer{{extras.code}}{{soccerAcademy.passenger.identifier}}{{forloop.counter}}"><span
															for="soccer{{extras.code}}{{soccerAcademy.passenger.identifier}}{{forloop.counter}}" class="pl20px mt10px">{{extras.description}}</span></label>
														<span class="fr price-package">{{extras.currencyAppendedPrice}}</span>
														<div class="clear"></div>
													{% endfor %}
												{% endifequal %}
											<div class="border-divider"></div>
											{% endifnotequal %}
									</div>
								</div>
							{% endif %}
						{% endfor %}
						<div class="clear"></div>
						<div class="final-calculation">
							<h5 class="total-cost">Total cost</h5>
							<p class="fr">
								<span class="price-package fr" data-dojo-attach-point="totalCalculatedPrice" value="0"></span><span class="currency-indicator"></span> <span
									class="price-package"></span>
							</p>
						</div>
						<div class="clear"></div>
						<div class="price-information-section">
                            <div id="error-mgs-soccer" class="disNone fl error-notation"></div>
							<a href="javascript:void(0);" data-dojo-attach-point= "addButton" class="button selected fr">Add</a>
						</div>
					</div>
				{% endif %}
			</div>
			<div class="clear"></div>
			<div class="points-glance">
				<h6>At a glance</h6>
				  {% for usp in jsonData.extraOptionsContentViewData.extraContentViewData.contentMap.football_academy_intro_usp %}
                         <ul>
                               <li>{{usp|default:" "}}</li>

                         </ul>
                         {% endfor %}
			</div>
		</div>
	</div>
</div>