<!-- Cruise result (Cruise & Stay – Hotel result)-->
<li class="search-listing" >
<div class="image-with-content for-hotel">

<div class="details">
<div class="media-comp">
	<img src="images/cruise/default-large.png" size="medium" width="273" height="162"/>
	<!-- Product Identifier in Image Box-->
	<div class="specials">
		<span class="diff-label diff-label-block plt"></span>
	</div>
</div>

<div class="listings">
	<h2>Cruise and Stay Hotel result</h2>
	<p class="rating rating-inline rating-md t3 sky" style="padding-left:40px;">
	<span style="float: left;line-height: 8px;width: 200px;"> | in Playa Paraiso, Tenerife</span></p> 
	<ul class="square">
		<li>Corfu Town, Greece</li>
		<li>Kotor, Montenegro</li>
		<li>Dubrovnik, Croatia</li>
		<li>Naples, Italy</li>
		<li>Civitavecchia (for Rome), Italy</li>
		<li>Livorno (for Florence and Pisa), Itly</li>
	</ul>
</div>

<div class="stay-option">
	<div class="stay-image">
		<img src="images/cruise/default-large.png" size="medium" width="129" height="70"/>
		<span class="left-corner"></span>
	</div>
	<div class="stay-content" style="width:385px;">
		<h3 class="capitalize title">Majorca hotel stay</h3>
		<span class="name">Thomson Celebration</span>
		<!-- Product Identifier in Image Box-->
		<span class="diff-label diff-label-block plt" style="width:131px;margin:0;background-position: 0 -42px;"></span>
	</div>
</div>
</div>

<div class="details-box">
<div class="listwithIcon">
	<div class="item-list">
		<ul class="item">
			<li class="listing-calander-icon"><span class="name">Departs 16 Nov 2014</span></li>
			<li class="listing-cruise-icon"><span class="name">6 night cruise </span> <span class="light-color">then</span></li>
			<li class="listing-cruise-stay-icon"><span class="name">7 nights Majorca stay</span> </li>
		 
		</ul>
	</div>
	<div class="item-list">
		<ul class="item">
			<li class="listing-in-cabin-icon">
			<span class="name">Twin room</span>
		 </li>
		   <li class="listing-board-icon">
			<span class="name">Full board hotel stay</span>
		</li>
			
		</ul>
	</div>
	
	<div class="priceDetails">
		<div class="floater accom-price price-box">
			<div class="all-details">
			<span class="uc color">Total Price</span>
				 <p class="price">
					<span class="currency size-color">&pound;</span>
					<span class="price-value price-size">1289<sup class="sup-style">pp</sup></span>
				</p>
				<p lang="en" class="question-info-text size-and-margin">Includes #99pp discount</p>
			</div>
		</div>
	</div>

	<div class="link-box">
		<div class="cta-buttons">
			<a  class="button cta jumbo ensLinkTrack" href="">Continue</a>
			<a class="button shortlist" href="javascript:void(0);"><i></i><span class="text"> Shortlist</span></a>
		</div>
	</div>
</div>
</div>

</div>
</li>