<!-- SEARCH RESULTS Stay and Cruise -->

<li class="search-listing">
<div class="image-with-content">

<div class="media-comp">
<img src="images/cruise/default-large.png" size="medium" width="273" height="162"/>
</div>

<div class="listings">
<h2>Stay and Cruise - A Taste of Mediterranen</h2>
 <span class="staticText">Visiting:</span>
 <ul class="square">
<li>Corfu Town, Greece</li>
<li>Kotor, Montenegro</li>
<li>Dubrovnik, Croatia</li>
<li>Naples, Italy</li>
<li>Civitavecchia (for Rome), Italy</li>
<li>Livorno (for Florence and Pisa), Itly</li>
</ul>
 <ul class="square">
<li>Toulon, France</li>
<li>Barcelona, Spain</li>
<li>Gibraltar, Portugal</li>
<li>Santa Cruz de La Palma, Spain</li>
<li>Santa Cruiz, Spain</li>
</ul>
</div>

<div class="stay-option">
<div class="stay-image">
<img src="images/cruise/default-large.png" size="medium" width="129" height="70"/>
<span class="left-corner"></span>
</div>
<div class="stay-content">
<h3 class="capitalize title">Majorca hotel stay</h3>
<p>Choose from the selection of hotels once you've chosen your cruise </p>
</div>
</div>

<!-- Common detail Box -->
     <div class="details-box">
<!-- Common Listing -->
    <div class="listwithIcon">
	 <div class="item-list">
	<ul class="item">
                        <li class="listing-ship-icon">
							<span class="name">Thomson Spirit</span>
						</li>
                        <li class="listing-calander-icon">
							<span class="name">Departs 16 Nov 2014 | 14 night cruise</span>
						</li>
                        <li class="listing-cruise-stay-icon">
							<span class="name">Cruise &amp; Stay options available</span> 
							<span class="question search-tooltip"></span>
						</li>
                    </ul>
                    <ul  class="item">
                        <li class="listing-flight-icon">
                            <span class="name">Birmingham flights</span>
                            <span class="question search-tooltip"></span>
                        </li>
                        <li class="listing-in-cabin-icon">
							<span class="name">Inside Cabin (cheapest available)</span> 
							<span class="question search-tooltip"></span>
						</li>
                        <li class="listing-board-icon">
							<span class="name">Full Boadrd (all tips included)</span> 
							<span class="question search-tooltip"></span>
						</li>
                    </ul>
	
	
	</div>
	<!-- Common Price Details -->
	 <div class="priceDetails">
	<div class="floater accom-price price-box">
		<div class="all-details">
			<p class="price">
				<span class="currency size-color">&pound;</span>
				<span class="price-value price-size">1289<sup class="sup-style">pp</sup></span>
			</p>
			 <p lang="en" class="question-info-text size-and-margin">Includes #99pp discount</p>
		</div>
	</div>
</div>
<!-- Common Button Box -->
<div class="link-box">
<!-- Common Option Item list -->
<div class="option-list">
<ul class="item">
<li class="listing-option-icon">60s Themed cruise</li>
</ul>
</div>
<!-- Common shortList and MoreDetails-->
<div class="cta-buttons">
<a class="button shortlist" href="javascript:void(0);"><i></i><span class="text"> Shortlist</span></a>
<a  class="button cta jumbo url ensLinkTrack" href="">More details</a>
</div>
</div>

<!-- Product Identifier in Detail box-->
</div>
<div class="specials">
<span class="diff-label plt"></span>
<span class="corner"></span>
</div>
</div>

</div>
</li>