
<div class="modal hide" id="wouldyouliketoGoForgotPassword">
			<div class="window auto-height">
				<div class="title">
					Reset password 
					<span class="close" id="wouldyouliketoGoForgotPasswordClose">y</span>
				</div>
				<div class="modal-content">
					<div id="content">
						<div class="content-width">
							<div class="EditPasswordForm customer-form show" id="customer-form">
							
								<div class="account-message">
									<p>Forgotten your password? Not to worry, we'll send you a link to change it if you pop in your email address.</p>	
								</div>
								
								<form id="manageAccountForgotPasswordpopupform"  method="post" autocomplete="off" action="{{tuiWebrootPath}}/manageMyAccount/forgotPwdOverlay"  modelAttribute="forgottenPasswordForm">
									
									<div id="forgotemailFieldDiv" class="row c {% ifnotequal uid 'null' %}valid{% endifnotequal %}"
							data-dojo-props='maximumLength:64, maxLengthMessage:"Email address should not contain more than",mandatory:"true",promptMessage:"We need your email address.",invalidMessage:"This isn&#39;t a valid email address. Re-enter your email address."'
							data-dojo-type="tui.widget.customeraccount.popup.EmailAddress">	
										
										<label for="email">Email address</label>
										<input  tabindex="1" type="text" 	name="email" id="forgotpopemail" value="{% ifnotequal uid 'null' %}{{uid}}{% endifnotequal %}" placeholder="" />
										<i style="display:none;"  id="forgotpopemailError_2" class="caret erase red"></i>						
										{% ifequal uid 'null' %}
										<i style="display:none;" id="forgotpopemailError_3" class="caret tick green"></i>
										{% endifequal %}										
										{% ifnotequal uid 'null' %}
										<i style="display:inline-block;" id="forgotpopemailError_3" class="caret tick green"></i>
										{% endifnotequal %}										
										<span id="forgotpopemailError_1" class="message"></span>										
									</div>
									<div class="row c button-align">
										<input style="display: none;" type="text" name="spambots" id="popspambots" value="" />
										<input style="display: none;" type="text" name="puid" id="puid" value="${uid}"/>									
										<input tabindex="2" type="submit" name="forgotPassword_btn" id="forgotPassword_btn" value="Reset my password" class="button cta-grey  ensLinkTrack" {% if componentUid %}data-componentid="{{componentUid}}"{% endif %} />
									</div>									
									
								</form>
							</div>
							<div class="EditPasswordForm customer-form hide" id="forgotpasswordSuccess">
								<h1>Your password has been reset</h1>
								<div id="customer-form">
									<div class="account-message">			
											<p>Click on the link in the email we've sent to <b><span class="forgotEmailSuccessId strong"></span></b> to create a new password.</p> 
									</div> 
								</div>
							</div>
						</div>				
					</div>
					
				</div>
			</div>
		</div>