
    <div style="position:absolute;{{coordinates}}background:#71AEDF;border-radius: 3px;z-index:7;text-transform:uppercase">
        <span style="position:absolute;top:-7px;left:9px;width:28px;height:17px;background: url('../images/cruise/arrow-up.png') no-repeat scroll 0 -0;">&nbsp;</span>
        <span class="cr-stay-Icon" style="float:left;background: url('../images/cruise/itinerary_icon_sprite.png') no-repeat scroll 6px -32px #71AEDF;height:28px;width:28px;border-radius: 3px;">&nbsp;</span>
    </div>
