
<div class="dis-container">
<div class="mask-interactivity"></div>

    <div data-dojo-attach-point="discountBlock">
        <input type="text" class="psgr-textfield"
               data-dojo-type="tui.widget.booking.passengers.view.DiscountTextBoxValidation"
               data-dojo-attach-point="discountTextBox"
               data-dojo-props="regExpGen:function(){ 
               
               
               		return '^[a-zA-Z0-9\s\._-]?([a-zA-Z0-9\s\._-]+)?([a-zA-Z0-9\s\._-]+)?$'
            
               		
             
               
               },
               invalidMessage:'The discount code you entered is not valid.',
               maxLength:'{% ifequal jsonData.inventoryType  'ATCOM' %}{{jsonData.maxPromoCodeLength}}{% else %}{{jsonData.personalPromoCodeLength}}{% endifequal %}',
               placeHolder:'{{jsonData.passengerDetailsStaticContentViewData.passengerContentMap.Passenger_Discount_Placeholder}}',
               missingMessage: 'Please enter discount code.'" />

        <span data-dojo-attach-point="discountButton" class="button small">
            {{jsonData.passengerDetailsStaticContentViewData.passengerContentMap.Passenger_ApplyDiscount_Button}}
        </span>
    </div>
    <div class="mainDiscount"  data-dojo-attach-point="successMsgBlock">
        <div class="bookflow-info-section discount-section fl" data-dojo-attach-point="successMsgDiv">
        </div>
        <span data-dojo-attach-point="changeButton" class="button small discount-button-margin fl">
            Change
        </span>
        <div class="clear"></div>
    </div>
<!--     <div id="Whatdiscount" > -->
<!--         <a> -->
<!--             {{jsonData.passengerDetailsStaticContentViewData.passengerContentMap.Passenger_Discount_InfoText}} -->

<!--         </a> -->

<!--     </div> -->


</div>
