<div id="checkBox-Overlay-insurance" class="checkBoxOverlay">

<div class="iDontNeedTransfer fl ">
        <p class="fl infoclassP">
			
          <span class="iDNTransferText fl ">Travel Insurance</span>
          <span class="iDNCarHireText fl">It is a condition of your booking with First Choice that you and all other members of your party, including infants and children, are adequately insured on holiday with a policy suitable to your individual needs.</span>
        </p>

      </div>

      <div class="button-section fl">
			<div class="fl">
				<button id="checkBoxArrangeInsurance"  class="arrangeinsurance">I'LL ARRANGE MY OWN INSURANCE</button>

			</div>
			<div class="fr">
				<a id="checkBoxAddInsurance" class="button selected submit" href="#travel-ins">ADD INSURANCE</a><br /><br />
			</div>
		</div>



</div>
