<div class="excursions-section last-class">
			<div class="academy-excursions-img">
				<img src="../images/firstchoice/bookflow/swim-academy.png"
					width="235px" height="180px" />
			</div>
			<div class="academy-excursions-description">
				<h3 class="academy-excursions-headingText">Benidorm Palace with Transport</h3>
				<h5 class="academy-excursions-infoText">Sat 18 Aug 2012</h5>
				<h5 class="academy-excursions-infoText">Evening</h5>
				<div class="dropdown-excursions">
					<select name="" id="" placeholder="Select" class="dropdown"
						data-dojo-type="tui.widget.form.SelectOption"
						data-dojo-props="fixedWidth: true">
						<option id="" value="">Select adult</option>
						<option id="" value=""></option>
						<option id="" value=""></option>
					</select>
				</div>
				<div class="dropdown-excursions">
					<select name="" id="" placeholder="Select" class="dropdown"
						data-dojo-type="tui.widget.form.SelectOption"
						data-dojo-props="fixedWidth: true">
						<option id="" value="">Select adult</option>
						<option id="" value=""></option>
						<option id="" value=""></option>
					</select>
				</div>
			</div>
		</div>